farm_poller.json
[{"id":"ee79049d.4d37e8","type":"tab","label":"API Farm Poller","disabled":false,"info":""},{"id":"2adc5ba8.b9e784","type":"tab","label":"Valve Poller","disabled":false,"info":""},{"id":"3da47396.330dcc","type":"tab","label":"Config Updater","disabled":false,"info":""},{"id":"47d7d421.2c37ec","type":"subflow","name":"Valve Modbus reader","info":"","category":"","in":[{"x":60,"y":320,"wires":[{"id":"eaa806c.42a34f8"},{"id":"94c55c3f.db69f"},{"id":"cf2bbfbc.a39ed"},{"id":"44c9ac0.405d554"},{"id":"d1608e34.3e3c7"},{"id":"39ca7fda.92396"},{"id":"aa81a884.abd8b8"},{"id":"6c9a6f8c.56634"},{"id":"bf8bd2b5.f1e9d"}]}],"out":[{"x":1200,"y":300,"wires":[{"id":"cb56ee7f.04999","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"2c572ca4.120854","type":"subflow","name":"Valve Modbus reader (Dummy)","info":"","category":"","in":[{"x":60,"y":320,"wires":[{"id":"7ba97aa4.f4ff64"},{"id":"f17b3da3.358f8"},{"id":"4278190c.c614f8"},{"id":"12c57efa.f32d51"},{"id":"8b27b270.be76e"},{"id":"d91a0c20.b26d9"},{"id":"fcb62219.03859"},{"id":"3c3c830d.e0273c"},{"id":"92505f89.5e6f"}]}],"out":[{"x":1160,"y":320,"wires":[{"id":"4c563c5.7e87ac4","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"3ac86c36.78f684","type":"subflow","name":"To Float","info":"","category":"","in":[{"x":120,"y":120,"wires":[{"id":"3f8f49ed.c73cf6"}]}],"out":[{"x":420,"y":120,"wires":[{"id":"3f8f49ed.c73cf6","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"f0b1fdc2.5f46","type":"subflow","name":"To String","info":"","category":"","in":[{"x":120,"y":140,"wires":[{"id":"616839d2.548bd8"}]}],"out":[{"x":500,"y":140,"wires":[{"id":"616839d2.548bd8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"959af5a3.0f24b8","type":"subflow","name":"Pump Modbus reader","info":"","category":"","in":[{"x":40,"y":320,"wires":[{"id":"8ecc55c9.1fc038"},{"id":"219b0676.79bc1a"},{"id":"f034cebe.d7607"},{"id":"deced341.89e29"},{"id":"9922ae74.d41ec"},{"id":"a18e10e0.a1d37"},{"id":"499e6430.ff86cc"},{"id":"ae1e9c8c.6f19e"},{"id":"189a83ff.1b76cc"},{"id":"1931274d.bcba39"},{"id":"e59ee747.e4ab18"}]}],"out":[{"x":1220,"y":320,"wires":[{"id":"202acd2e.3ce762","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"cec4e387.950ca","type":"mqtt-broker","name":"Siemens IoT2020 Gateway","broker":"192.168.0.104","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"763b0547.26ce3c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"64fb5e4d.38e0b","type":"ui_group","name":"Test","tab":"ebb21ec0.86402","order":1,"disp":true,"width":"6","collapse":false},{"id":"ebb21ec0.86402","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"158a2db.8be95d2","type":"modbus-client","name":"m340","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.43","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"8da46fd8.ba1ca","type":"ui_group","name":"Configuration","tab":"ebb21ec0.86402","order":2,"disp":true,"width":"6","collapse":false},{"id":"7fb89801.2b6f28","type":"inject","z":"ee79049d.4d37e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[      {          \"agriwiz_farm_id\": \"-2147483551\",          \"eaw_end_pc\": 99.9,          \"eaw_start_pc\": 85.0,          \"end_time\": \"2021-07-02T14:33:00\",          \"farm_name\": \"Rheebokskraal-Nadorcott&Suurlemoen&Orri\",          \"ferttankecmicroszcm_01\": 22.7,          \"ferttankecmicroszcm_02\": 45.5,          \"ferttankecmicroszcm_03\": 22.7,          \"ferttankecmicroszcm_04\": 9.1,          \"ferttankecmicroszcm_05\": 0.0,          \"ferttankecmicroszcm_06\": 0.0,          \"ferttankecmicroszcm_07\": 0.0,          \"ferttankecmicroszcm_08\": 0.0,          \"ferttankecmicroszcm_09\": 0.0,          \"ferttankecmicroszcm_10\": 0.0,          \"ferttankid_01\": -2147483492,          \"ferttankid_02\": -2147483491,          \"ferttankid_03\": -2147482563,          \"ferttankid_04\": -2147482523,          \"ferttankid_05\": 0,          \"ferttankid_06\": 0,          \"ferttankid_07\": 0,          \"ferttankid_08\": 0,          \"ferttankid_09\": 0,          \"ferttankid_10\": 0,          \"ferttankl_01\": 41.241,          \"ferttankl_02\": 82.481,          \"ferttankl_03\": 41.241,          \"ferttankl_04\": 16.496,          \"ferttankl_05\": 0.0,          \"ferttankl_06\": 0.0,          \"ferttankl_07\": 0.0,          \"ferttankl_08\": 0.0,          \"ferttankl_09\": 0.0,          \"ferttankl_10\": 0.0,          \"ferttanklzm3_01\": 1.255,          \"ferttanklzm3_02\": 2.51,          \"ferttanklzm3_03\": 1.255,          \"ferttanklzm3_04\": 0.502,          \"ferttanklzm3_05\": 0.0,          \"ferttanklzm3_06\": 0.0,          \"ferttanklzm3_07\": 0.0,          \"ferttanklzm3_08\": 0.0,          \"ferttanklzm3_09\": 0.0,          \"ferttanklzm3_10\": 0.0,          \"ferttankname_01\": \"A-Tank\",          \"ferttankname_02\": \"B-Tank\",          \"ferttankname_03\": \"C-Tank\",          \"ferttankname_04\": \"D-Tank\",          \"ferttankname_05\": \"\",          \"ferttankname_06\": \"\",          \"ferttankname_07\": \"\",          \"ferttankname_08\": \"\",          \"ferttankname_09\": \"\",          \"ferttankname_10\": \"\",          \"ferttankpc_01\": 22.7,          \"ferttankpc_02\": 45.5,          \"ferttankpc_03\": 22.7,          \"ferttankpc_04\": 9.1,          \"ferttankpc_05\": 0.0,          \"ferttankpc_06\": 0.0,          \"ferttankpc_07\": 0.0,          \"ferttankpc_08\": 0.0,          \"ferttankpc_09\": 0.0,          \"ferttankpc_10\": 0.0,          \"field_id\": -2147477685,          \"field_name\": \"Eureka\",          \"irrigation_flow_total\": 6.572,          \"irrigation_time_minutes\": 169,          \"irrigenrichecmicroszcm\": 2138.0,          \"start_time\": \"2021-07-02T11:44:00\"      },      {          \"agriwiz_farm_id\": \"-2147483551\",          \"eaw_end_pc\": 100.0,          \"eaw_start_pc\": 85.0,          \"end_time\": \"2021-07-02T14:47:00\",          \"farm_name\": \"Rheebokskraal-Nadorcott&Suurlemoen&Orri\",          \"ferttankecmicroszcm_01\": 22.7,          \"ferttankecmicroszcm_02\": 45.5,          \"ferttankecmicroszcm_03\": 22.7,          \"ferttankecmicroszcm_04\": 9.1,          \"ferttankecmicroszcm_05\": 0.0,          \"ferttankecmicroszcm_06\": 0.0,          \"ferttankecmicroszcm_07\": 0.0,          \"ferttankecmicroszcm_08\": 0.0,          \"ferttankecmicroszcm_09\": 0.0,          \"ferttankecmicroszcm_10\": 0.0,          \"ferttankid_01\": -2147483492,          \"ferttankid_02\": -2147483491,          \"ferttankid_03\": -2147482563,          \"ferttankid_04\": -2147482523,          \"ferttankid_05\": 0,          \"ferttankid_06\": 0,          \"ferttankid_07\": 0,          \"ferttankid_08\": 0,          \"ferttankid_09\": 0,          \"ferttankid_10\": 0,          \"ferttankl_01\": 41.241,          \"ferttankl_02\": 82.481,          \"ferttankl_03\": 41.241,          \"ferttankl_04\": 16.496,          \"ferttankl_05\": 0.0,          \"ferttankl_06\": 0.0,          \"ferttankl_07\": 0.0,          \"ferttankl_08\": 0.0,          \"ferttankl_09\": 0.0,          \"ferttankl_10\": 0.0,          \"ferttanklzm3_01\": 1.255,          \"ferttanklzm3_02\": 2.51,          \"ferttanklzm3_03\": 1.255,          \"ferttanklzm3_04\": 0.502,          \"ferttanklzm3_05\": 0.0,          \"ferttanklzm3_06\": 0.0,          \"ferttanklzm3_07\": 0.0,          \"ferttanklzm3_08\": 0.0,          \"ferttanklzm3_09\": 0.0,          \"ferttanklzm3_10\": 0.0,          \"ferttankname_01\": \"A-Tank\",          \"ferttankname_02\": \"B-Tank\",          \"ferttankname_03\": \"C-Tank\",          \"ferttankname_04\": \"D-Tank\",          \"ferttankname_05\": \"\",          \"ferttankname_06\": \"\",          \"ferttankname_07\": \"\",          \"ferttankname_08\": \"\",          \"ferttankname_09\": \"\",          \"ferttankname_10\": \"\",          \"ferttankpc_01\": 22.7,          \"ferttankpc_02\": 45.5,          \"ferttankpc_03\": 22.7,          \"ferttankpc_04\": 9.1,          \"ferttankpc_05\": 0.0,          \"ferttankpc_06\": 0.0,          \"ferttankpc_07\": 0.0,          \"ferttankpc_08\": 0.0,          \"ferttankpc_09\": 0.0,          \"ferttankpc_10\": 0.0,          \"field_id\": -2147477688,          \"field_name\": \"Orri 1-3\",          \"irrigation_flow_total\": 7.84,          \"irrigation_time_minutes\": 168,          \"irrigenrichecmicroszcm\": 2138.0,          \"start_time\": \"2021-07-02T11:59:00\"      },      {          \"agriwiz_farm_id\": \"-2147483551\",          \"eaw_end_pc\": 100.0,          \"eaw_start_pc\": 85.0,          \"end_time\": \"2021-07-02T14:47:00\",          \"farm_name\": \"Rheebokskraal-Nadorcott&Suurlemoen&Orri\",          \"ferttankecmicroszcm_01\": 22.7,          \"ferttankecmicroszcm_02\": 45.5,          \"ferttankecmicroszcm_03\": 22.7,          \"ferttankecmicroszcm_04\": 9.1,          \"ferttankecmicroszcm_05\": 0.0,          \"ferttankecmicroszcm_06\": 0.0,          \"ferttankecmicroszcm_07\": 0.0,          \"ferttankecmicroszcm_08\": 0.0,          \"ferttankecmicroszcm_09\": 0.0,          \"ferttankecmicroszcm_10\": 0.0,          \"ferttankid_01\": -2147483492,          \"ferttankid_02\": -2147483491,          \"ferttankid_03\": -2147482563,          \"ferttankid_04\": -2147482523,          \"ferttankid_05\": 0,          \"ferttankid_06\": 0,          \"ferttankid_07\": 0,          \"ferttankid_08\": 0,          \"ferttankid_09\": 0,          \"ferttankid_10\": 0,          \"ferttankl_01\": 41.241,          \"ferttankl_02\": 82.481,          \"ferttankl_03\": 41.241,          \"ferttankl_04\": 16.496,          \"ferttankl_05\": 0.0,          \"ferttankl_06\": 0.0,          \"ferttankl_07\": 0.0,          \"ferttankl_08\": 0.0,          \"ferttankl_09\": 0.0,          \"ferttankl_10\": 0.0,          \"ferttanklzm3_01\": 1.255,          \"ferttanklzm3_02\": 2.51,          \"ferttanklzm3_03\": 1.255,          \"ferttanklzm3_04\": 0.502,          \"ferttanklzm3_05\": 0.0,          \"ferttanklzm3_06\": 0.0,          \"ferttanklzm3_07\": 0.0,          \"ferttanklzm3_08\": 0.0,          \"ferttanklzm3_09\": 0.0,          \"ferttanklzm3_10\": 0.0,          \"ferttankname_01\": \"A-Tank\",          \"ferttankname_02\": \"B-Tank\",          \"ferttankname_03\": \"C-Tank\",          \"ferttankname_04\": \"D-Tank\",          \"ferttankname_05\": \"\",          \"ferttankname_06\": \"\",          \"ferttankname_07\": \"\",          \"ferttankname_08\": \"\",          \"ferttankname_09\": \"\",          \"ferttankname_10\": \"\",          \"ferttankpc_01\": 22.7,          \"ferttankpc_02\": 45.5,          \"ferttankpc_03\": 22.7,          \"ferttankpc_04\": 9.1,          \"ferttankpc_05\": 0.0,          \"ferttankpc_06\": 0.0,          \"ferttankpc_07\": 0.0,          \"ferttankpc_08\": 0.0,          \"ferttankpc_09\": 0.0,          \"ferttankpc_10\": 0.0,          \"field_id\": -2147470690,          \"field_name\": \"Orri 5\",          \"irrigation_flow_total\": 7.84,          \"irrigation_time_minutes\": 168,          \"irrigenrichecmicroszcm\": 2138.0,          \"start_time\": \"2021-07-02T11:59:00\"      },      {          \"agriwiz_farm_id\": \"-2147483551\",          \"eaw_end_pc\": 100.0,          \"eaw_start_pc\": 85.0,          \"end_time\": \"2021-07-02T17:15:00\",          \"farm_name\": \"Rheebokskraal-Nadorcott&Suurlemoen&Orri\",          \"ferttankecmicroszcm_01\": 22.7,          \"ferttankecmicroszcm_02\": 45.5,          \"ferttankecmicroszcm_03\": 22.7,          \"ferttankecmicroszcm_04\": 9.1,          \"ferttankecmicroszcm_05\": 0.0,          \"ferttankecmicroszcm_06\": 0.0,          \"ferttankecmicroszcm_07\": 0.0,          \"ferttankecmicroszcm_08\": 0.0,          \"ferttankecmicroszcm_09\": 0.0,          \"ferttankecmicroszcm_10\": 0.0,          \"ferttankid_01\": -2147483492,          \"ferttankid_02\": -2147483491,          \"ferttankid_03\": -2147482563,          \"ferttankid_04\": -2147482523,          \"ferttankid_05\": 0,          \"ferttankid_06\": 0,          \"ferttankid_07\": 0,          \"ferttankid_08\": 0,          \"ferttankid_09\": 0,          \"ferttankid_10\": 0,          \"ferttankl_01\": 41.241,          \"ferttankl_02\": 82.481,          \"ferttankl_03\": 41.241,          \"ferttankl_04\": 16.496,          \"ferttankl_05\": 0.0,          \"ferttankl_06\": 0.0,          \"ferttankl_07\": 0.0,          \"ferttankl_08\": 0.0,          \"ferttankl_09\": 0.0,          \"ferttankl_10\": 0.0,          \"ferttanklzm3_01\": 1.255,          \"ferttanklzm3_02\": 2.51,          \"ferttanklzm3_03\": 1.255,          \"ferttanklzm3_04\": 0.502,          \"ferttanklzm3_05\": 0.0,          \"ferttanklzm3_06\": 0.0,          \"ferttanklzm3_07\": 0.0,          \"ferttanklzm3_08\": 0.0,          \"ferttanklzm3_09\": 0.0,          \"ferttanklzm3_10\": 0.0,          \"ferttankname_01\": \"A-Tank\",          \"ferttankname_02\": \"B-Tank\",          \"ferttankname_03\": \"C-Tank\",          \"ferttankname_04\": \"D-Tank\",          \"ferttankname_05\": \"\",          \"ferttankname_06\": \"\",          \"ferttankname_07\": \"\",          \"ferttankname_08\": \"\",          \"ferttankname_09\": \"\",          \"ferttankname_10\": \"\",          \"ferttankpc_01\": 22.7,          \"ferttankpc_02\": 45.5,          \"ferttankpc_03\": 22.7,          \"ferttankpc_04\": 9.1,          \"ferttankpc_05\": 0.0,          \"ferttankpc_06\": 0.0,          \"ferttankpc_07\": 0.0,          \"ferttankpc_08\": 0.0,          \"ferttankpc_09\": 0.0,          \"ferttankpc_10\": 0.0,          \"field_id\": -2147477686,          \"field_name\": \"Nadorcott 7-8\",          \"irrigation_flow_total\": 6.908,          \"irrigation_time_minutes\": 148,          \"irrigenrichecmicroszcm\": 2138.0,          \"start_time\": \"2021-07-02T14:47:00\"      },      {          \"agriwiz_farm_id\": \"-2147483551\",          \"eaw_end_pc\": 100.0,          \"eaw_start_pc\": 85.0,          \"end_time\": \"2021-07-02T17:15:00\",          \"farm_name\": \"Rheebokskraal-Nadorcott&Suurlemoen&Orri\",          \"ferttankecmicroszcm_01\": 22.7,          \"ferttankecmicroszcm_02\": 45.5,          \"ferttankecmicroszcm_03\": 22.7,          \"ferttankecmicroszcm_04\": 9.1,          \"ferttankecmicroszcm_05\": 0.0,          \"ferttankecmicroszcm_06\": 0.0,          \"ferttankecmicroszcm_07\": 0.0,          \"ferttankecmicroszcm_08\": 0.0,          \"ferttankecmicroszcm_09\": 0.0,          \"ferttankecmicroszcm_10\": 0.0,          \"ferttankid_01\": -2147483492,          \"ferttankid_02\": -2147483491,          \"ferttankid_03\": -2147482563,          \"ferttankid_04\": -2147482523,          \"ferttankid_05\": 0,          \"ferttankid_06\": 0,          \"ferttankid_07\": 0,          \"ferttankid_08\": 0,          \"ferttankid_09\": 0,          \"ferttankid_10\": 0,          \"ferttankl_01\": 41.241,          \"ferttankl_02\": 82.481,          \"ferttankl_03\": 41.241,          \"ferttankl_04\": 16.496,          \"ferttankl_05\": 0.0,          \"ferttankl_06\": 0.0,          \"ferttankl_07\": 0.0,          \"ferttankl_08\": 0.0,          \"ferttankl_09\": 0.0,          \"ferttankl_10\": 0.0,          \"ferttanklzm3_01\": 1.255,          \"ferttanklzm3_02\": 2.51,          \"ferttanklzm3_03\": 1.255,          \"ferttanklzm3_04\": 0.502,          \"ferttanklzm3_05\": 0.0,          \"ferttanklzm3_06\": 0.0,          \"ferttanklzm3_07\": 0.0,          \"ferttanklzm3_08\": 0.0,          \"ferttanklzm3_09\": 0.0,          \"ferttanklzm3_10\": 0.0,          \"ferttankname_01\": \"A-Tank\",          \"ferttankname_02\": \"B-Tank\",          \"ferttankname_03\": \"C-Tank\",          \"ferttankname_04\": \"D-Tank\",          \"ferttankname_05\": \"\",          \"ferttankname_06\": \"\",          \"ferttankname_07\": \"\",          \"ferttankname_08\": \"\",          \"ferttankname_09\": \"\",          \"ferttankname_10\": \"\",          \"ferttankpc_01\": 22.7,          \"ferttankpc_02\": 45.5,          \"ferttankpc_03\": 22.7,          \"ferttankpc_04\": 9.1,          \"ferttankpc_05\": 0.0,          \"ferttankpc_06\": 0.0,          \"ferttankpc_07\": 0.0,          \"ferttankpc_08\": 0.0,          \"ferttankpc_09\": 0.0,          \"ferttankpc_10\": 0.0,          \"field_id\": -2147470691,          \"field_name\": \"Nadorcott 6\",          \"irrigation_flow_total\": 6.908,          \"irrigation_time_minutes\": 148,          \"irrigenrichecmicroszcm\": 2138.0,          \"start_time\": \"2021-07-02T14:47:00\"      }  ]","payloadType":"json","x":110,"y":80,"wires":[["bdb21459.29ce58"]]},{"id":"bdb21459.29ce58","type":"http request","z":"ee79049d.4d37e8","name":"GET farm API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://lodicon-test-api.herokuapp.com/api/v1/-2147483551/MyFirstGateway/irrigation","tls":"","persist":false,"proxy":"","authType":"","x":160,"y":140,"wires":[["8441fbdf.35a1e8","31240294.4123ae","e0293d8a.7e0e4","44128b2a.fba6e4","8d9891f1.ceacf","5284dd36.cac134"]]},{"id":"e0293d8a.7e0e4","type":"function","z":"ee79049d.4d37e8","name":"Orri 1-3","func":"msg.payload = msg.payload.find(f => f.field_name === \"Orri 1-3\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["f5dd1773.e7c8d8"]]},{"id":"31240294.4123ae","type":"function","z":"ee79049d.4d37e8","name":"Eureka","func":"msg.payload = msg.payload.find(f => f.field_name === \"Eureka\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":200,"wires":[["feaef114.0142e","8441fbdf.35a1e8"]]},{"id":"44128b2a.fba6e4","type":"function","z":"ee79049d.4d37e8","name":"Orri 5","func":"msg.payload = msg.payload.find(f => f.field_name === \"Orri 5\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":280,"wires":[["4012528b.18d23c"]]},{"id":"8d9891f1.ceacf","type":"function","z":"ee79049d.4d37e8","name":"Nadorcott 7-8","func":"msg.payload = msg.payload.find(f => f.field_name === \"Nadorcott 7-8\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":320,"wires":[["f0e33516.948bd8"]]},{"id":"5284dd36.cac134","type":"function","z":"ee79049d.4d37e8","name":"Nadorcott 6","func":"msg.payload = msg.payload.find(f => f.field_name === \"Nadorcott 6\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":360,"wires":[["bba4d77.8b2ab28"]]},{"id":"feaef114.0142e","type":"link out","z":"ee79049d.4d37e8","name":"Eureka","links":["275bfcac.70c834"],"x":615,"y":200,"wires":[]},{"id":"f5dd1773.e7c8d8","type":"link out","z":"ee79049d.4d37e8","name":"Orri 1-3","links":["21b6e91.02b5e16"],"x":615,"y":240,"wires":[]},{"id":"f0e33516.948bd8","type":"link out","z":"ee79049d.4d37e8","name":"Nadorcott 7-8","links":["b68c7931.c97798"],"x":615,"y":320,"wires":[]},{"id":"4012528b.18d23c","type":"link out","z":"ee79049d.4d37e8","name":"Orri 5","links":["2c570286.f0b16e"],"x":615,"y":280,"wires":[]},{"id":"bba4d77.8b2ab28","type":"link out","z":"ee79049d.4d37e8","name":"Nadorcott 6","links":["9ffbc20a.a1ee3"],"x":615,"y":360,"wires":[]},{"id":"b64c4598.50e868","type":"comment","z":"ee79049d.4d37e8","name":"Repeats every 10 seconds","info":"","x":160,"y":40,"wires":[]},{"id":"874164a2.6a1ff8","type":"comment","z":"ee79049d.4d37e8","name":"Retrieve values for specific farms","info":"","x":490,"y":160,"wires":[]},{"id":"f7b784a7.0fde98","type":"inject","z":"2adc5ba8.b9e784","name":"Valve Poller","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["800ee90f.8ae2a8","e3a541fd.51871","54d83f15.60e54"]]},{"id":"b261b125.5f2d5","type":"join","z":"2adc5ba8.b9e784","name":"Join sequence into array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":460,"wires":[["588b5f02.7dc92"]]},{"id":"1d684541.1a4e1b","type":"debug","z":"2adc5ba8.b9e784","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":560,"wires":[]},{"id":"588b5f02.7dc92","type":"json","z":"2adc5ba8.b9e784","name":"Format to JSON","property":"payload","action":"obj","pretty":true,"x":920,"y":520,"wires":[["1d684541.1a4e1b","b76f002b.ccc43"]]},{"id":"314d159c.e390ba","type":"comment","z":"2adc5ba8.b9e784","name":"Set valve count here","info":"","x":890,"y":400,"wires":[]},{"id":"8441fbdf.35a1e8","type":"debug","z":"ee79049d.4d37e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":40,"wires":[]},{"id":"b76f002b.ccc43","type":"http request","z":"2adc5ba8.b9e784","name":"POST Valve data","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://lodicon-test-api.herokuapp.com/api/v1/-2147483551/MyFirstGateway/valves","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":580,"wires":[["1d684541.1a4e1b"]]},{"id":"4c563c5.7e87ac4","type":"join","z":"2c572ca4.120854","name":"Join into an Object (with topics as keys)","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":920,"y":320,"wires":[[]]},{"id":"f17b3da3.358f8","type":"change","z":"2c572ca4.120854","name":"real_time_flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"1.0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":200,"wires":[["e169185.c09bbe8"]]},{"id":"4278190c.c614f8","type":"change","z":"2c572ca4.120854","name":"real_time_flow_unit","rules":[{"t":"set","p":"payload","pt":"msg","to":"m³/h","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":240,"wires":[["dbb62dad.2e31"]]},{"id":"8b27b270.be76e","type":"change","z":"2c572ca4.120854","name":"total_flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"1.0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":320,"wires":[["5ad420e.f91afe"]]},{"id":"d91a0c20.b26d9","type":"change","z":"2c572ca4.120854","name":"total_flow_unit","rules":[{"t":"set","p":"payload","pt":"msg","to":"m³/h","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":360,"wires":[["8d701aa0.e50808"]]},{"id":"7ba97aa4.f4ff64","type":"change","z":"2c572ca4.120854","name":"alarm","rules":[{"t":"set","p":"payload","pt":"msg","to":"No Alarm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":160,"wires":[["65e0d6fe.abd798"]]},{"id":"12c57efa.f32d51","type":"change","z":"2c572ca4.120854","name":"status","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":280,"wires":[["d8e40a1a.b0d598"]]},{"id":"fcb62219.03859","type":"change","z":"2c572ca4.120854","name":"valve_type","rules":[{"t":"set","p":"payload","pt":"msg","to":"fertilizer valve","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":400,"wires":[["42f97f95.05cd6"]]},{"id":"3c3c830d.e0273c","type":"change","z":"2c572ca4.120854","name":"timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":480,"wires":[["fb762b8c.4d1258"]]},{"id":"800ee90f.8ae2a8","type":"change","z":"2adc5ba8.b9e784","name":"Fertilizer A","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fertilizer A","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":220,"wires":[["b4e5cad8.d65458"]]},{"id":"5622d9ef.b2fee8","type":"comment","z":"2adc5ba8.b9e784","name":"Feed valve names here","info":"","x":340,"y":160,"wires":[]},{"id":"e3a541fd.51871","type":"change","z":"2adc5ba8.b9e784","name":"Fertilizer B","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fertilizer B","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":280,"wires":[["a7fed67f.106738"]]},{"id":"54d83f15.60e54","type":"change","z":"2adc5ba8.b9e784","name":"Backwash_Valve_01","rules":[{"t":"set","p":"payload","pt":"msg","to":"Backwash_Valve_01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":340,"wires":[["4cdb598f.787888"]]},{"id":"b4e5cad8.d65458","type":"subflow:2c572ca4.120854","z":"2adc5ba8.b9e784","name":"","env":[],"x":610,"y":220,"wires":[["b261b125.5f2d5"]]},{"id":"a7fed67f.106738","type":"subflow:2c572ca4.120854","z":"2adc5ba8.b9e784","name":"","env":[],"x":610,"y":280,"wires":[["b261b125.5f2d5"]]},{"id":"4cdb598f.787888","type":"subflow:2c572ca4.120854","z":"2adc5ba8.b9e784","name":"","env":[],"x":610,"y":340,"wires":[["b261b125.5f2d5"]]},{"id":"40235e95.a695a","type":"comment","z":"2c572ca4.120854","name":"Click to see explanation","info":"The input simply has the name of the valve as its payload, e.g. \"Fertilizer A\". At the prompt of the input, each of the Modbus getters reads its value and passes it in the message payload. We then set the topic of the message to the appropriate property, e.g. alarm or status.\n\nAfterwards, each of these messages are joined together by topic into one Object. The topic becomes the key and the payload becomes the value.\n\nIf any of the readers meet an error, they will return an undefined payload. If a payload is undefined, it is set as an empty string or 0.0, depending on the data type.","x":160,"y":60,"wires":[]},{"id":"92505f89.5e6f","type":"function","z":"2c572ca4.120854","name":"name","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":440,"wires":[["d7ac5bef.f2d2a8"]]},{"id":"eaa806c.42a34f8","type":"modbus-getter","z":"47d7d421.2c37ec","name":"alarm GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":300,"y":160,"wires":[["16f09771.3f66d9"],[]]},{"id":"94c55c3f.db69f","type":"modbus-getter","z":"47d7d421.2c37ec","name":"real_time_flow GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":330,"y":200,"wires":[["f3a38dbb.8a91"],[]]},{"id":"cf2bbfbc.a39ed","type":"modbus-getter","z":"47d7d421.2c37ec","name":"real_time_flow_unit GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":340,"y":240,"wires":[["5d786621.cbecc8"],[]]},{"id":"44c9ac0.405d554","type":"modbus-getter","z":"47d7d421.2c37ec","name":"status GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":300,"y":280,"wires":[["7364e6cd.804d58"],[]]},{"id":"d1608e34.3e3c7","type":"modbus-getter","z":"47d7d421.2c37ec","name":"total_flow GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":310,"y":320,"wires":[["3e88149d.b6ab7c"],[]]},{"id":"39ca7fda.92396","type":"modbus-getter","z":"47d7d421.2c37ec","name":"total_flow_unit GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":330,"y":360,"wires":[["2b9521f3.d35e3e"],[]]},{"id":"aa81a884.abd8b8","type":"modbus-getter","z":"47d7d421.2c37ec","name":"valve_type GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":320,"y":400,"wires":[["5b6794d1.bab90c"],[]]},{"id":"65e0d6fe.abd798","type":"function","z":"2c572ca4.120854","name":"alarm topic","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"alarm\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":160,"wires":[["4c563c5.7e87ac4"]]},{"id":"e169185.c09bbe8","type":"function","z":"2c572ca4.120854","name":"real_time_flow topic","func":"if (msg.payload === undefined){\n    msg.payload = 0.0\n}\nmsg.topic = \"real_time_flow\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":200,"wires":[["4c563c5.7e87ac4"]]},{"id":"dbb62dad.2e31","type":"function","z":"2c572ca4.120854","name":"real_time_flow_unit topic","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"real_time_flow_unit\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":240,"wires":[["4c563c5.7e87ac4"]]},{"id":"d8e40a1a.b0d598","type":"function","z":"2c572ca4.120854","name":"status topic","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"status\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":280,"wires":[["4c563c5.7e87ac4"]]},{"id":"5ad420e.f91afe","type":"function","z":"2c572ca4.120854","name":"total_flow topic","func":"if (msg.payload === undefined){\n    msg.payload = 0.0\n}\nmsg.topic = \"total_flow\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":320,"wires":[["4c563c5.7e87ac4"]]},{"id":"8d701aa0.e50808","type":"function","z":"2c572ca4.120854","name":"total_flow_unit topic","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"total_flow_unit\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":360,"wires":[["4c563c5.7e87ac4"]]},{"id":"42f97f95.05cd6","type":"function","z":"2c572ca4.120854","name":"valve_type topic","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"valve_type\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":400,"wires":[["4c563c5.7e87ac4"]]},{"id":"d7ac5bef.f2d2a8","type":"function","z":"2c572ca4.120854","name":"name topic","func":"\nmsg.topic = \"name\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":440,"wires":[["4c563c5.7e87ac4"]]},{"id":"fb762b8c.4d1258","type":"function","z":"2c572ca4.120854","name":"timestamp topic","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"timestamp\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":480,"wires":[["4c563c5.7e87ac4"]]},{"id":"cb56ee7f.04999","type":"join","z":"47d7d421.2c37ec","name":"Join into an Object (with topics as keys)","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1000,"y":300,"wires":[[]]},{"id":"ba6138a5.4cbd88","type":"function","z":"47d7d421.2c37ec","name":"timestamp reader","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"timestamp\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":480,"wires":[["cb56ee7f.04999"]]},{"id":"898da5f1.eb0988","type":"function","z":"47d7d421.2c37ec","name":"name reader","func":"\nmsg.topic = \"name\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":440,"wires":[["cb56ee7f.04999"]]},{"id":"5b6794d1.bab90c","type":"function","z":"47d7d421.2c37ec","name":"valve_type reader","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"valve_type\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":400,"wires":[["cb56ee7f.04999"]]},{"id":"2b9521f3.d35e3e","type":"function","z":"47d7d421.2c37ec","name":"total_flow_unit reader","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"total_flow_unit\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":360,"wires":[["cb56ee7f.04999"]]},{"id":"3e88149d.b6ab7c","type":"function","z":"47d7d421.2c37ec","name":"total_flow reader","func":"if (msg.payload === undefined){\n    msg.payload = 0.0\n}\nmsg.topic = \"total_flow\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":320,"wires":[["cb56ee7f.04999"]]},{"id":"7364e6cd.804d58","type":"function","z":"47d7d421.2c37ec","name":"status reader","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"status\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":280,"wires":[["cb56ee7f.04999"]]},{"id":"5d786621.cbecc8","type":"function","z":"47d7d421.2c37ec","name":"real_time_flow_unit reader","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"real_time_flow_unit\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":240,"wires":[["cb56ee7f.04999"]]},{"id":"f3a38dbb.8a91","type":"function","z":"47d7d421.2c37ec","name":"real_time_flow reader","func":"if (msg.payload === undefined){\n    msg.payload = 0.0\n}\nmsg.topic = \"real_time_flow\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":200,"wires":[["cb56ee7f.04999"]]},{"id":"16f09771.3f66d9","type":"function","z":"47d7d421.2c37ec","name":"alarm reader","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"alarm\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":160,"wires":[["cb56ee7f.04999"]]},{"id":"bf8bd2b5.f1e9d","type":"change","z":"47d7d421.2c37ec","name":"timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":480,"wires":[["ba6138a5.4cbd88"]]},{"id":"6c9a6f8c.56634","type":"function","z":"47d7d421.2c37ec","name":"name","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":440,"wires":[["898da5f1.eb0988"]]},{"id":"a2fabaa9.975fd8","type":"comment","z":"47d7d421.2c37ec","name":"Click to see explanation","info":"The input simply has the name of the valve as its payload, e.g. \"Fertilizer A\". At the prompt of the input, each of the Modbus getters reads its value and passes it in the message payload. We then set the topic of the message to the appropriate property, e.g. alarm or status.\n\nAfterwards, each of these messages are joined together by topic into one Object. The topic becomes the key and the payload becomes the value.\n\nIf any of the readers meet an error, they will return an undefined payload. If a payload is undefined, it is set as an empty string or 0.0, depending on the data type.","x":140,"y":60,"wires":[]},{"id":"3f8f49ed.c73cf6","type":"function","z":"3ac86c36.78f684","name":"To Float","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar floatView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1];\nintView[1] = msg.payload[0];\n\nmsg.payload = floatView[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":120,"wires":[[]]},{"id":"616839d2.548bd8","type":"function","z":"f0b1fdc2.5f46","name":"To String","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nintView[0] = msg.payload[1];\nintView[1] = msg.payload[0];\n\nmsg.payload = String.fromCharCode.apply(null, msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":140,"wires":[[]]},{"id":"8ecc55c9.1fc038","type":"modbus-getter","z":"959af5a3.0f24b8","name":"alarm GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":220,"y":120,"wires":[["5ac56a2e.57a254"],[]]},{"id":"219b0676.79bc1a","type":"modbus-getter","z":"959af5a3.0f24b8","name":"real_time_flow GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":250,"y":160,"wires":[["1cbe8b47.e91925"],[]]},{"id":"f034cebe.d7607","type":"modbus-getter","z":"959af5a3.0f24b8","name":"real_time_flow_unit GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":260,"y":200,"wires":[["50a2f483.a951dc"],[]]},{"id":"a18e10e0.a1d37","type":"modbus-getter","z":"959af5a3.0f24b8","name":"status GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":220,"y":320,"wires":[["ef9ecb94.d13188"],[]]},{"id":"499e6430.ff86cc","type":"modbus-getter","z":"959af5a3.0f24b8","name":"total_flow GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":230,"y":360,"wires":[["fe40cdaf.8ba0e"],[]]},{"id":"ae1e9c8c.6f19e","type":"modbus-getter","z":"959af5a3.0f24b8","name":"total_flow_unit GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":250,"y":400,"wires":[["dbbe7cd5.faa14"],[]]},{"id":"189a83ff.1b76cc","type":"modbus-getter","z":"959af5a3.0f24b8","name":"valve_type GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":240,"y":440,"wires":[["f23a5555.52e118"],[]]},{"id":"202acd2e.3ce762","type":"join","z":"959af5a3.0f24b8","name":"Join into an Object (with topics as keys)","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"11","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1000,"y":320,"wires":[[]]},{"id":"1bf7aa47.73f9d6","type":"function","z":"959af5a3.0f24b8","name":"timestamp reader","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"timestamp\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":520,"wires":[["202acd2e.3ce762"]]},{"id":"436f5ef2.20d98","type":"function","z":"959af5a3.0f24b8","name":"name reader","func":"\nmsg.topic = \"name\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":480,"wires":[["202acd2e.3ce762"]]},{"id":"f23a5555.52e118","type":"function","z":"959af5a3.0f24b8","name":"valve_type reader","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"valve_type\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":440,"wires":[["202acd2e.3ce762"]]},{"id":"dbbe7cd5.faa14","type":"function","z":"959af5a3.0f24b8","name":"total_flow_unit reader","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"total_flow_unit\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":400,"wires":[["202acd2e.3ce762"]]},{"id":"fe40cdaf.8ba0e","type":"function","z":"959af5a3.0f24b8","name":"total_flow reader","func":"if (msg.payload === undefined){\n    msg.payload = 0.0\n}\nmsg.topic = \"total_flow\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":360,"wires":[["202acd2e.3ce762"]]},{"id":"ef9ecb94.d13188","type":"function","z":"959af5a3.0f24b8","name":"status reader","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"status\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":320,"wires":[["202acd2e.3ce762"]]},{"id":"50a2f483.a951dc","type":"function","z":"959af5a3.0f24b8","name":"real_time_flow_unit reader","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"real_time_flow_unit\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":200,"wires":[["202acd2e.3ce762"]]},{"id":"1cbe8b47.e91925","type":"function","z":"959af5a3.0f24b8","name":"real_time_flow reader","func":"if (msg.payload === undefined){\n    msg.payload = 0.0\n}\nmsg.topic = \"real_time_flow\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":160,"wires":[["202acd2e.3ce762"]]},{"id":"5ac56a2e.57a254","type":"function","z":"959af5a3.0f24b8","name":"alarm reader","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"alarm\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":120,"wires":[["202acd2e.3ce762"]]},{"id":"e59ee747.e4ab18","type":"change","z":"959af5a3.0f24b8","name":"timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":520,"wires":[["1bf7aa47.73f9d6"]]},{"id":"1931274d.bcba39","type":"function","z":"959af5a3.0f24b8","name":"name","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":480,"wires":[["436f5ef2.20d98"]]},{"id":"deced341.89e29","type":"modbus-getter","z":"959af5a3.0f24b8","name":"real_time_pressure GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":260,"y":240,"wires":[["7b9f4a79.6a89e4"],[]]},{"id":"9922ae74.d41ec","type":"modbus-getter","z":"959af5a3.0f24b8","name":"real_time_pressure_unit GETTER","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"","adr":"","quantity":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":true,"x":280,"y":280,"wires":[["67351b0b.a9e764"],[]]},{"id":"7b9f4a79.6a89e4","type":"function","z":"959af5a3.0f24b8","name":"real_time_pressure reader","func":"if (msg.payload === undefined){\n    msg.payload = 0.0\n}\nmsg.topic = \"real_time_flow\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":240,"wires":[["202acd2e.3ce762"]]},{"id":"67351b0b.a9e764","type":"function","z":"959af5a3.0f24b8","name":"real_time_pressure_unit reader","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"real_time_flow_unit\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":280,"wires":[["202acd2e.3ce762"]]},{"id":"36ed8c5b.87e2a4","type":"ui_form","z":"3da47396.330dcc","name":"Configuration Form","label":"Configuration Form","group":"8da46fd8.ba1ca","order":0,"width":0,"height":0,"options":[{"label":"Valve field count","value":"valve_field_count","type":"number","required":false,"rows":null},{"label":"Valve fertilizer count","value":"valve_fertilizer_count","type":"number","required":false,"rows":null},{"label":"Valve backwash count","value":"valve_backwash_count","type":"number","required":false,"rows":null},{"label":"Pump main count","value":"pump_main_count","type":"number","required":false,"rows":null},{"label":"Pump booster count","value":"pump_booster_count","type":"number","required":false,"rows":null},{"label":"Pump backwash count","value":"pump_backwash_count","type":"number","required":false,"rows":null},{"label":"Soil moisture count","value":"soil_moisture_count","type":"number","required":false,"rows":null},{"label":"Level instruments count","value":"level_instruments_count","type":"number","required":false,"rows":null},{"label":"Valve main count","value":"valve_main_count","type":"number","required":false,"rows":null},{"label":"Placeholder 02 count","value":"placeholder_02_count","type":"number","required":false,"rows":null},{"label":"Placeholder 03 count","value":"placeholder_03_count","type":"number","required":false,"rows":null},{"label":"Placeholder 04 count","value":"placeholder_04_count","type":"number","required":false,"rows":null},{"label":"Placeholder 05 count","value":"placeholder_05_count","type":"number","required":false,"rows":null},{"label":"Field valve 01 name","value":"field_valve_01_name","type":"text","required":false,"rows":null},{"label":"Field valve 02 name","value":"field_valve_02_name","type":"text","required":false,"rows":null},{"label":"Field valve 03 name","value":"field_valve_03_name","type":"text","required":false,"rows":null},{"label":"Field valve 04 name","value":"field_valve_04_name","type":"text","required":false,"rows":null},{"label":"Field valve 05 name","value":"field_valve_05_name","type":"text","required":false,"rows":null},{"label":"Field valve 06 name","value":"field_valve_06_name","type":"text","required":false,"rows":null},{"label":"Field valve 07 name","value":"field_valve_07_name","type":"text","required":false,"rows":null},{"label":"Field valve 08 name","value":"field_valve_08_name","type":"text","required":false,"rows":null},{"label":"Field valve 09 name","value":"field_valve_09_name","type":"text","required":false,"rows":null},{"label":"Field valve 10 name","value":"field_valve_10_name","type":"text","required":false,"rows":null},{"label":"Field valve 11 name","value":"field_valve_11_name","type":"text","required":false,"rows":null},{"label":"Field valve 12 name","value":"field_valve_12_name","type":"text","required":false,"rows":null},{"label":"Field valve 13 name","value":"field_valve_13_name","type":"text","required":false,"rows":null},{"label":"Field valve 14 name","value":"field_valve_14_name","type":"text","required":false,"rows":null},{"label":"Field valve 15 name","value":"field_valve_15_name","type":"text","required":false,"rows":null},{"label":"Field valve 16 name","value":"field_valve_16_name","type":"text","required":false,"rows":null},{"label":"Field valve 17 name","value":"field_valve_17_name","type":"text","required":false,"rows":null},{"label":"Field valve 18 name","value":"field_valve_18_name","type":"text","required":false,"rows":null},{"label":"Field valve 19 name","value":"field_valve_19_name","type":"text","required":false,"rows":null},{"label":"Field valve 20 name","value":"field_valve_20_name","type":"text","required":false,"rows":null},{"label":"Field valve 21 name","value":"field_valve_21_name","type":"text","required":false,"rows":null},{"label":"Field valve 22 name","value":"field_valve_22_name","type":"text","required":false,"rows":null},{"label":"Field valve 23 name","value":"field_valve_23_name","type":"text","required":false,"rows":null},{"label":"Field valve 24 name","value":"field_valve_24_name","type":"text","required":false,"rows":null},{"label":"Field valve 25 name","value":"field_valve_25_name","type":"text","required":false,"rows":null},{"label":"Field valve 26 name","value":"field_valve_26_name","type":"text","required":false,"rows":null},{"label":"Field valve 27 name","value":"field_valve_27_name","type":"text","required":false,"rows":null},{"label":"Field valve 28 name","value":"field_valve_28_name","type":"text","required":false,"rows":null},{"label":"Field valve 29 name","value":"field_valve_29_name","type":"text","required":false,"rows":null},{"label":"Field valve 30 name","value":"field_valve_30_name","type":"text","required":false,"rows":null},{"label":"Field valve 31 name","value":"field_valve_31_name","type":"text","required":false,"rows":null},{"label":"Field valve 32 name","value":"field_valve_32_name","type":"text","required":false,"rows":null},{"label":"Field valve 33 name","value":"field_valve_33_name","type":"text","required":false,"rows":null},{"label":"Field valve 34 name","value":"field_valve_34_name","type":"text","required":false,"rows":null},{"label":"Field valve 35 name","value":"field_valve_35_name","type":"text","required":false,"rows":null},{"label":"Field valve 36 name","value":"field_valve_36_name","type":"text","required":false,"rows":null},{"label":"Field valve 37 name","value":"field_valve_37_name","type":"text","required":false,"rows":null},{"label":"Field valve 38 name","value":"field_valve_38_name","type":"text","required":false,"rows":null},{"label":"Field valve 39 name","value":"field_valve_39_name","type":"text","required":false,"rows":null},{"label":"Field valve 40 name","value":"field_valve_40_name","type":"text","required":false,"rows":null},{"label":"Field valve 41 name","value":"field_valve_41_name","type":"text","required":false,"rows":null},{"label":"Field valve 42 name","value":"field_valve_42_name","type":"text","required":false,"rows":null},{"label":"Field valve 43 name","value":"field_valve_43_name","type":"text","required":false,"rows":null},{"label":"Field valve 44 name","value":"field_valve_44_name","type":"text","required":false,"rows":null},{"label":"Field valve 45 name","value":"field_valve_45_name","type":"text","required":false,"rows":null},{"label":"Field valve 46 name","value":"field_valve_46_name","type":"text","required":false,"rows":null},{"label":"Field valve 47 name","value":"field_valve_47_name","type":"text","required":false,"rows":null},{"label":"Field valve 48 name","value":"field_valve_48_name","type":"text","required":false,"rows":null},{"label":"Field valve 49 name","value":"field_valve_49_name","type":"text","required":false,"rows":null},{"label":"Field valve 50 name","value":"field_valve_50_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 01 name","value":"fertilizer_valve_01_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 02 name","value":"fertilizer_valve_02_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 03 name","value":"fertilizer_valve_03_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 04 name","value":"fertilizer_valve_04_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 05 name","value":"fertilizer_valve_05_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 06 name","value":"fertilizer_valve_06_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 07 name","value":"fertilizer_valve_07_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 08 name","value":"fertilizer_valve_08_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 09 name","value":"fertilizer_valve_09_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 10 name","value":"fertilizer_valve_10_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 11 name","value":"fertilizer_valve_11_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 12 name","value":"fertilizer_valve_12_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 13 name","value":"fertilizer_valve_13_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 14 name","value":"fertilizer_valve_14_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 15 name","value":"fertilizer_valve_15_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 16 name","value":"fertilizer_valve_16_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 17 name","value":"fertilizer_valve_17_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 18 name","value":"fertilizer_valve_18_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 19 name","value":"fertilizer_valve_19_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 20 name","value":"fertilizer_valve_20_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 01 name","value":"backwash_valve_01_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 02 name","value":"backwash_valve_02_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 03 name","value":"backwash_valve_03_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 04 name","value":"backwash_valve_04_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 05 name","value":"backwash_valve_05_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 06 name","value":"backwash_valve_06_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 07 name","value":"backwash_valve_07_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 08 name","value":"backwash_valve_08_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 09 name","value":"backwash_valve_09_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 10 name","value":"backwash_valve_10_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 11 name","value":"backwash_valve_11_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 12 name","value":"backwash_valve_12_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 13 name","value":"backwash_valve_13_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 14 name","value":"backwash_valve_14_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 15 name","value":"backwash_valve_15_name","type":"text","required":false,"rows":null},{"label":"Main pump 01 name","value":"main_pump_01_name","type":"text","required":false,"rows":null},{"label":"Main pump 02 name","value":"main_pump_02_name","type":"text","required":false,"rows":null},{"label":"Main pump 03 name","value":"main_pump_03_name","type":"text","required":false,"rows":null},{"label":"Main pump 04 name","value":"main_pump_04_name","type":"text","required":false,"rows":null},{"label":"Main pump 05 name","value":"main_pump_05_name","type":"text","required":false,"rows":null},{"label":"Backwash pump 01 name","value":"backwash_pump_01_name","type":"text","required":false,"rows":null},{"label":"Backwash pump 02 name","value":"backwash_pump_02_name","type":"text","required":false,"rows":null},{"label":"Backwash pump 03 name","value":"backwash_pump_03_name","type":"text","required":false,"rows":null},{"label":"Backwash pump 04 name","value":"backwash_pump_04_name","type":"text","required":false,"rows":null},{"label":"Backwash pump 05 name","value":"backwash_pump_05_name","type":"text","required":false,"rows":null},{"label":"Booster pump 01 name","value":"booster_pump_01_name","type":"text","required":false,"rows":null},{"label":"Booster pump 02 name","value":"booster_pump_02_name","type":"text","required":false,"rows":null},{"label":"Booster pump 03 name","value":"booster_pump_03_name","type":"text","required":false,"rows":null},{"label":"Booster pump 04 name","value":"booster_pump_04_name","type":"text","required":false,"rows":null},{"label":"Booster pump 05 name","value":"booster_pump_05_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 01 name","value":"soil_moisture_01_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 02 name","value":"soil_moisture_02_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 03 name","value":"soil_moisture_03_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 04 name","value":"soil_moisture_04_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 05 name","value":"soil_moisture_05_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 06 name","value":"soil_moisture_06_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 07 name","value":"soil_moisture_07_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 08 name","value":"soil_moisture_08_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 09 name","value":"soil_moisture_09_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 10 name","value":"soil_moisture_10_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 01 name","value":"level_transmitter_01_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 02 name","value":"level_transmitter_02_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 03 name","value":"level_transmitter_03_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 04 name","value":"level_transmitter_04_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 05 name","value":"level_transmitter_05_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 06 name","value":"level_transmitter_06_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 07 name","value":"level_transmitter_07_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 08 name","value":"level_transmitter_08_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 09 name","value":"level_transmitter_09_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 10 name","value":"level_transmitter_10_name","type":"text","required":false,"rows":null},{"label":"Main valve 01 name","value":"main_valve_01_name","type":"text","required":false,"rows":null},{"label":"Main valve 02 name","value":"main_valve_02_name","type":"text","required":false,"rows":null},{"label":"Main valve 03 name","value":"main_valve_03_name","type":"text","required":false,"rows":null},{"label":"Main valve 04 name","value":"main_valve_04_name","type":"text","required":false,"rows":null},{"label":"Main valve 05 name","value":"main_valve_05_name","type":"text","required":false,"rows":null}],"formValue":{"valve_field_count":"","valve_fertilizer_count":"","valve_backwash_count":"","pump_main_count":"","pump_booster_count":"","pump_backwash_count":"","soil_moisture_count":"","level_instruments_count":"","valve_main_count":"","placeholder_02_count":"","placeholder_03_count":"","placeholder_04_count":"","placeholder_05_count":"","field_valve_01_name":"","field_valve_02_name":"","field_valve_03_name":"","field_valve_04_name":"","field_valve_05_name":"","field_valve_06_name":"","field_valve_07_name":"","field_valve_08_name":"","field_valve_09_name":"","field_valve_10_name":"","field_valve_11_name":"","field_valve_12_name":"","field_valve_13_name":"","field_valve_14_name":"","field_valve_15_name":"","field_valve_16_name":"","field_valve_17_name":"","field_valve_18_name":"","field_valve_19_name":"","field_valve_20_name":"","field_valve_21_name":"","field_valve_22_name":"","field_valve_23_name":"","field_valve_24_name":"","field_valve_25_name":"","field_valve_26_name":"","field_valve_27_name":"","field_valve_28_name":"","field_valve_29_name":"","field_valve_30_name":"","field_valve_31_name":"","field_valve_32_name":"","field_valve_33_name":"","field_valve_34_name":"","field_valve_35_name":"","field_valve_36_name":"","field_valve_37_name":"","field_valve_38_name":"","field_valve_39_name":"","field_valve_40_name":"","field_valve_41_name":"","field_valve_42_name":"","field_valve_43_name":"","field_valve_44_name":"","field_valve_45_name":"","field_valve_46_name":"","field_valve_47_name":"","field_valve_48_name":"","field_valve_49_name":"","field_valve_50_name":"","fertilizer_valve_01_name":"","fertilizer_valve_02_name":"","fertilizer_valve_03_name":"","fertilizer_valve_04_name":"","fertilizer_valve_05_name":"","fertilizer_valve_06_name":"","fertilizer_valve_07_name":"","fertilizer_valve_08_name":"","fertilizer_valve_09_name":"","fertilizer_valve_10_name":"","fertilizer_valve_11_name":"","fertilizer_valve_12_name":"","fertilizer_valve_13_name":"","fertilizer_valve_14_name":"","fertilizer_valve_15_name":"","fertilizer_valve_16_name":"","fertilizer_valve_17_name":"","fertilizer_valve_18_name":"","fertilizer_valve_19_name":"","fertilizer_valve_20_name":"","backwash_valve_01_name":"","backwash_valve_02_name":"","backwash_valve_03_name":"","backwash_valve_04_name":"","backwash_valve_05_name":"","backwash_valve_06_name":"","backwash_valve_07_name":"","backwash_valve_08_name":"","backwash_valve_09_name":"","backwash_valve_10_name":"","backwash_valve_11_name":"","backwash_valve_12_name":"","backwash_valve_13_name":"","backwash_valve_14_name":"","backwash_valve_15_name":"","main_pump_01_name":"","main_pump_02_name":"","main_pump_03_name":"","main_pump_04_name":"","main_pump_05_name":"","backwash_pump_01_name":"","backwash_pump_02_name":"","backwash_pump_03_name":"","backwash_pump_04_name":"","backwash_pump_05_name":"","booster_pump_01_name":"","booster_pump_02_name":"","booster_pump_03_name":"","booster_pump_04_name":"","booster_pump_05_name":"","soil_moisture_01_name":"","soil_moisture_02_name":"","soil_moisture_03_name":"","soil_moisture_04_name":"","soil_moisture_05_name":"","soil_moisture_06_name":"","soil_moisture_07_name":"","soil_moisture_08_name":"","soil_moisture_09_name":"","soil_moisture_10_name":"","level_transmitter_01_name":"","level_transmitter_02_name":"","level_transmitter_03_name":"","level_transmitter_04_name":"","level_transmitter_05_name":"","level_transmitter_06_name":"","level_transmitter_07_name":"","level_transmitter_08_name":"","level_transmitter_09_name":"","level_transmitter_10_name":"","main_valve_01_name":"","main_valve_02_name":"","main_valve_03_name":"","main_valve_04_name":"","main_valve_05_name":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":false,"x":250,"y":220,"wires":[["295dbe2d.6f8c22"]]},{"id":"a107990d.8178e8","type":"inject","z":"3da47396.330dcc","name":"Click to update configuration","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["ffe1ce4d.09105"]]},{"id":"ffe1ce4d.09105","type":"http request","z":"3da47396.330dcc","name":"Retrieve current config","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://lodicon-test-api.herokuapp.com/api/v1/-2147483551/ChrisKim/config_update","tls":"","persist":false,"proxy":"","authType":"","x":220,"y":160,"wires":[["36ed8c5b.87e2a4"]]},{"id":"295dbe2d.6f8c22","type":"http request","z":"3da47396.330dcc","name":"POST new config","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://lodicon-test-api.herokuapp.com/api/v1/-2147483551/ChrisKim/config_update","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":280,"wires":[["4e24dc8d.67b1e4"]]},{"id":"1c15ad11.63df13","type":"ui_toast","z":"3da47396.330dcc","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notify","x":330,"y":400,"wires":[]},{"id":"4e24dc8d.67b1e4","type":"function","z":"3da47396.330dcc","name":"If successful","func":"if (msg.statusCode === 200){\n    msg.payload = \"Update successful!\"\n}\nelse {\n    msg.payload = \"Update failed.\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":340,"wires":[["1c15ad11.63df13","ffe1ce4d.09105"]]}]