farm_poller.json
[{"id":"3da47396.330dcc","type":"tab","label":"Config Updater","disabled":false,"info":""},{"id":"36ed8c5b.87e2a4","type":"ui_form","z":"3da47396.330dcc","name":"Configuration Form","label":"Configuration Form","group":"8da46fd8.ba1ca","order":0,"width":0,"height":0,"options":[{"label":"Valve field count","value":"valve_field_count","type":"number","required":false,"rows":null},{"label":"Valve fertilizer count","value":"valve_fertilizer_count","type":"number","required":false,"rows":null},{"label":"Valve backwash count","value":"valve_backwash_count","type":"number","required":false,"rows":null},{"label":"Pump main count","value":"pump_main_count","type":"number","required":false,"rows":null},{"label":"Pump booster count","value":"pump_booster_count","type":"number","required":false,"rows":null},{"label":"Pump backwash count","value":"pump_backwash_count","type":"number","required":false,"rows":null},{"label":"Soil moisture count","value":"soil_moisture_count","type":"number","required":false,"rows":null},{"label":"Level instruments count","value":"level_instruments_count","type":"number","required":false,"rows":null},{"label":"Valve main count","value":"valve_main_count","type":"number","required":false,"rows":null},{"label":"Placeholder 02 count","value":"placeholder_02_count","type":"number","required":false,"rows":null},{"label":"Placeholder 03 count","value":"placeholder_03_count","type":"number","required":false,"rows":null},{"label":"Placeholder 04 count","value":"placeholder_04_count","type":"number","required":false,"rows":null},{"label":"Placeholder 05 count","value":"placeholder_05_count","type":"number","required":false,"rows":null},{"label":"Field valve 01 name","value":"field_valve_01_name","type":"text","required":false,"rows":null},{"label":"Field valve 02 name","value":"field_valve_02_name","type":"text","required":false,"rows":null},{"label":"Field valve 03 name","value":"field_valve_03_name","type":"text","required":false,"rows":null},{"label":"Field valve 04 name","value":"field_valve_04_name","type":"text","required":false,"rows":null},{"label":"Field valve 05 name","value":"field_valve_05_name","type":"text","required":false,"rows":null},{"label":"Field valve 06 name","value":"field_valve_06_name","type":"text","required":false,"rows":null},{"label":"Field valve 07 name","value":"field_valve_07_name","type":"text","required":false,"rows":null},{"label":"Field valve 08 name","value":"field_valve_08_name","type":"text","required":false,"rows":null},{"label":"Field valve 09 name","value":"field_valve_09_name","type":"text","required":false,"rows":null},{"label":"Field valve 10 name","value":"field_valve_10_name","type":"text","required":false,"rows":null},{"label":"Field valve 11 name","value":"field_valve_11_name","type":"text","required":false,"rows":null},{"label":"Field valve 12 name","value":"field_valve_12_name","type":"text","required":false,"rows":null},{"label":"Field valve 13 name","value":"field_valve_13_name","type":"text","required":false,"rows":null},{"label":"Field valve 14 name","value":"field_valve_14_name","type":"text","required":false,"rows":null},{"label":"Field valve 15 name","value":"field_valve_15_name","type":"text","required":false,"rows":null},{"label":"Field valve 16 name","value":"field_valve_16_name","type":"text","required":false,"rows":null},{"label":"Field valve 17 name","value":"field_valve_17_name","type":"text","required":false,"rows":null},{"label":"Field valve 18 name","value":"field_valve_18_name","type":"text","required":false,"rows":null},{"label":"Field valve 19 name","value":"field_valve_19_name","type":"text","required":false,"rows":null},{"label":"Field valve 20 name","value":"field_valve_20_name","type":"text","required":false,"rows":null},{"label":"Field valve 21 name","value":"field_valve_21_name","type":"text","required":false,"rows":null},{"label":"Field valve 22 name","value":"field_valve_22_name","type":"text","required":false,"rows":null},{"label":"Field valve 23 name","value":"field_valve_23_name","type":"text","required":false,"rows":null},{"label":"Field valve 24 name","value":"field_valve_24_name","type":"text","required":false,"rows":null},{"label":"Field valve 25 name","value":"field_valve_25_name","type":"text","required":false,"rows":null},{"label":"Field valve 26 name","value":"field_valve_26_name","type":"text","required":false,"rows":null},{"label":"Field valve 27 name","value":"field_valve_27_name","type":"text","required":false,"rows":null},{"label":"Field valve 28 name","value":"field_valve_28_name","type":"text","required":false,"rows":null},{"label":"Field valve 29 name","value":"field_valve_29_name","type":"text","required":false,"rows":null},{"label":"Field valve 30 name","value":"field_valve_30_name","type":"text","required":false,"rows":null},{"label":"Field valve 31 name","value":"field_valve_31_name","type":"text","required":false,"rows":null},{"label":"Field valve 32 name","value":"field_valve_32_name","type":"text","required":false,"rows":null},{"label":"Field valve 33 name","value":"field_valve_33_name","type":"text","required":false,"rows":null},{"label":"Field valve 34 name","value":"field_valve_34_name","type":"text","required":false,"rows":null},{"label":"Field valve 35 name","value":"field_valve_35_name","type":"text","required":false,"rows":null},{"label":"Field valve 36 name","value":"field_valve_36_name","type":"text","required":false,"rows":null},{"label":"Field valve 37 name","value":"field_valve_37_name","type":"text","required":false,"rows":null},{"label":"Field valve 38 name","value":"field_valve_38_name","type":"text","required":false,"rows":null},{"label":"Field valve 39 name","value":"field_valve_39_name","type":"text","required":false,"rows":null},{"label":"Field valve 40 name","value":"field_valve_40_name","type":"text","required":false,"rows":null},{"label":"Field valve 41 name","value":"field_valve_41_name","type":"text","required":false,"rows":null},{"label":"Field valve 42 name","value":"field_valve_42_name","type":"text","required":false,"rows":null},{"label":"Field valve 43 name","value":"field_valve_43_name","type":"text","required":false,"rows":null},{"label":"Field valve 44 name","value":"field_valve_44_name","type":"text","required":false,"rows":null},{"label":"Field valve 45 name","value":"field_valve_45_name","type":"text","required":false,"rows":null},{"label":"Field valve 46 name","value":"field_valve_46_name","type":"text","required":false,"rows":null},{"label":"Field valve 47 name","value":"field_valve_47_name","type":"text","required":false,"rows":null},{"label":"Field valve 48 name","value":"field_valve_48_name","type":"text","required":false,"rows":null},{"label":"Field valve 49 name","value":"field_valve_49_name","type":"text","required":false,"rows":null},{"label":"Field valve 50 name","value":"field_valve_50_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 01 name","value":"fertilizer_valve_01_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 02 name","value":"fertilizer_valve_02_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 03 name","value":"fertilizer_valve_03_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 04 name","value":"fertilizer_valve_04_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 05 name","value":"fertilizer_valve_05_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 06 name","value":"fertilizer_valve_06_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 07 name","value":"fertilizer_valve_07_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 08 name","value":"fertilizer_valve_08_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 09 name","value":"fertilizer_valve_09_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 10 name","value":"fertilizer_valve_10_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 11 name","value":"fertilizer_valve_11_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 12 name","value":"fertilizer_valve_12_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 13 name","value":"fertilizer_valve_13_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 14 name","value":"fertilizer_valve_14_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 15 name","value":"fertilizer_valve_15_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 16 name","value":"fertilizer_valve_16_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 17 name","value":"fertilizer_valve_17_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 18 name","value":"fertilizer_valve_18_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 19 name","value":"fertilizer_valve_19_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 20 name","value":"fertilizer_valve_20_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 01 name","value":"backwash_valve_01_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 02 name","value":"backwash_valve_02_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 03 name","value":"backwash_valve_03_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 04 name","value":"backwash_valve_04_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 05 name","value":"backwash_valve_05_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 06 name","value":"backwash_valve_06_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 07 name","value":"backwash_valve_07_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 08 name","value":"backwash_valve_08_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 09 name","value":"backwash_valve_09_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 10 name","value":"backwash_valve_10_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 11 name","value":"backwash_valve_11_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 12 name","value":"backwash_valve_12_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 13 name","value":"backwash_valve_13_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 14 name","value":"backwash_valve_14_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 15 name","value":"backwash_valve_15_name","type":"text","required":false,"rows":null},{"label":"Main pump 01 name","value":"main_pump_01_name","type":"text","required":false,"rows":null},{"label":"Main pump 02 name","value":"main_pump_02_name","type":"text","required":false,"rows":null},{"label":"Main pump 03 name","value":"main_pump_03_name","type":"text","required":false,"rows":null},{"label":"Main pump 04 name","value":"main_pump_04_name","type":"text","required":false,"rows":null},{"label":"Main pump 05 name","value":"main_pump_05_name","type":"text","required":false,"rows":null},{"label":"Backwash pump 01 name","value":"backwash_pump_01_name","type":"text","required":false,"rows":null},{"label":"Backwash pump 02 name","value":"backwash_pump_02_name","type":"text","required":false,"rows":null},{"label":"Backwash pump 03 name","value":"backwash_pump_03_name","type":"text","required":false,"rows":null},{"label":"Backwash pump 04 name","value":"backwash_pump_04_name","type":"text","required":false,"rows":null},{"label":"Backwash pump 05 name","value":"backwash_pump_05_name","type":"text","required":false,"rows":null},{"label":"Booster pump 01 name","value":"booster_pump_01_name","type":"text","required":false,"rows":null},{"label":"Booster pump 02 name","value":"booster_pump_02_name","type":"text","required":false,"rows":null},{"label":"Booster pump 03 name","value":"booster_pump_03_name","type":"text","required":false,"rows":null},{"label":"Booster pump 04 name","value":"booster_pump_04_name","type":"text","required":false,"rows":null},{"label":"Booster pump 05 name","value":"booster_pump_05_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 01 name","value":"soil_moisture_01_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 02 name","value":"soil_moisture_02_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 03 name","value":"soil_moisture_03_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 04 name","value":"soil_moisture_04_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 05 name","value":"soil_moisture_05_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 06 name","value":"soil_moisture_06_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 07 name","value":"soil_moisture_07_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 08 name","value":"soil_moisture_08_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 09 name","value":"soil_moisture_09_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 10 name","value":"soil_moisture_10_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 01 name","value":"level_transmitter_01_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 02 name","value":"level_transmitter_02_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 03 name","value":"level_transmitter_03_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 04 name","value":"level_transmitter_04_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 05 name","value":"level_transmitter_05_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 06 name","value":"level_transmitter_06_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 07 name","value":"level_transmitter_07_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 08 name","value":"level_transmitter_08_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 09 name","value":"level_transmitter_09_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 10 name","value":"level_transmitter_10_name","type":"text","required":false,"rows":null},{"label":"Main valve 01 name","value":"main_valve_01_name","type":"text","required":false,"rows":null},{"label":"Main valve 02 name","value":"main_valve_02_name","type":"text","required":false,"rows":null},{"label":"Main valve 03 name","value":"main_valve_03_name","type":"text","required":false,"rows":null},{"label":"Main valve 04 name","value":"main_valve_04_name","type":"text","required":false,"rows":null},{"label":"Main valve 05 name","value":"main_valve_05_name","type":"text","required":false,"rows":null}],"formValue":{"valve_field_count":"","valve_fertilizer_count":"","valve_backwash_count":"","pump_main_count":"","pump_booster_count":"","pump_backwash_count":"","soil_moisture_count":"","level_instruments_count":"","valve_main_count":"","placeholder_02_count":"","placeholder_03_count":"","placeholder_04_count":"","placeholder_05_count":"","field_valve_01_name":"","field_valve_02_name":"","field_valve_03_name":"","field_valve_04_name":"","field_valve_05_name":"","field_valve_06_name":"","field_valve_07_name":"","field_valve_08_name":"","field_valve_09_name":"","field_valve_10_name":"","field_valve_11_name":"","field_valve_12_name":"","field_valve_13_name":"","field_valve_14_name":"","field_valve_15_name":"","field_valve_16_name":"","field_valve_17_name":"","field_valve_18_name":"","field_valve_19_name":"","field_valve_20_name":"","field_valve_21_name":"","field_valve_22_name":"","field_valve_23_name":"","field_valve_24_name":"","field_valve_25_name":"","field_valve_26_name":"","field_valve_27_name":"","field_valve_28_name":"","field_valve_29_name":"","field_valve_30_name":"","field_valve_31_name":"","field_valve_32_name":"","field_valve_33_name":"","field_valve_34_name":"","field_valve_35_name":"","field_valve_36_name":"","field_valve_37_name":"","field_valve_38_name":"","field_valve_39_name":"","field_valve_40_name":"","field_valve_41_name":"","field_valve_42_name":"","field_valve_43_name":"","field_valve_44_name":"","field_valve_45_name":"","field_valve_46_name":"","field_valve_47_name":"","field_valve_48_name":"","field_valve_49_name":"","field_valve_50_name":"","fertilizer_valve_01_name":"","fertilizer_valve_02_name":"","fertilizer_valve_03_name":"","fertilizer_valve_04_name":"","fertilizer_valve_05_name":"","fertilizer_valve_06_name":"","fertilizer_valve_07_name":"","fertilizer_valve_08_name":"","fertilizer_valve_09_name":"","fertilizer_valve_10_name":"","fertilizer_valve_11_name":"","fertilizer_valve_12_name":"","fertilizer_valve_13_name":"","fertilizer_valve_14_name":"","fertilizer_valve_15_name":"","fertilizer_valve_16_name":"","fertilizer_valve_17_name":"","fertilizer_valve_18_name":"","fertilizer_valve_19_name":"","fertilizer_valve_20_name":"","backwash_valve_01_name":"","backwash_valve_02_name":"","backwash_valve_03_name":"","backwash_valve_04_name":"","backwash_valve_05_name":"","backwash_valve_06_name":"","backwash_valve_07_name":"","backwash_valve_08_name":"","backwash_valve_09_name":"","backwash_valve_10_name":"","backwash_valve_11_name":"","backwash_valve_12_name":"","backwash_valve_13_name":"","backwash_valve_14_name":"","backwash_valve_15_name":"","main_pump_01_name":"","main_pump_02_name":"","main_pump_03_name":"","main_pump_04_name":"","main_pump_05_name":"","backwash_pump_01_name":"","backwash_pump_02_name":"","backwash_pump_03_name":"","backwash_pump_04_name":"","backwash_pump_05_name":"","booster_pump_01_name":"","booster_pump_02_name":"","booster_pump_03_name":"","booster_pump_04_name":"","booster_pump_05_name":"","soil_moisture_01_name":"","soil_moisture_02_name":"","soil_moisture_03_name":"","soil_moisture_04_name":"","soil_moisture_05_name":"","soil_moisture_06_name":"","soil_moisture_07_name":"","soil_moisture_08_name":"","soil_moisture_09_name":"","soil_moisture_10_name":"","level_transmitter_01_name":"","level_transmitter_02_name":"","level_transmitter_03_name":"","level_transmitter_04_name":"","level_transmitter_05_name":"","level_transmitter_06_name":"","level_transmitter_07_name":"","level_transmitter_08_name":"","level_transmitter_09_name":"","level_transmitter_10_name":"","main_valve_01_name":"","main_valve_02_name":"","main_valve_03_name":"","main_valve_04_name":"","main_valve_05_name":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":false,"x":250,"y":220,"wires":[["295dbe2d.6f8c22"]]},{"id":"a107990d.8178e8","type":"inject","z":"3da47396.330dcc","name":"Click to update configuration","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["ffe1ce4d.09105"]]},{"id":"ffe1ce4d.09105","type":"http request","z":"3da47396.330dcc","name":"GET current config","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://lodicon-test-api.herokuapp.com/api/v1/-2147483551/ChrisKim/config_update","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":160,"wires":[["36ed8c5b.87e2a4"]]},{"id":"295dbe2d.6f8c22","type":"http request","z":"3da47396.330dcc","name":"POST new config","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://lodicon-test-api.herokuapp.com/api/v1/-2147483551/ChrisKim/config_update","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":280,"wires":[["4e24dc8d.67b1e4","ffe1ce4d.09105"]]},{"id":"1c15ad11.63df13","type":"ui_toast","z":"3da47396.330dcc","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notify","x":330,"y":400,"wires":[]},{"id":"4e24dc8d.67b1e4","type":"function","z":"3da47396.330dcc","name":"If successful","func":"if (msg.statusCode === 200){\n    msg.payload = \"Update successful!\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":340,"wires":[["1c15ad11.63df13"]]},{"id":"8da46fd8.ba1ca","type":"ui_group","name":"Configuration","tab":"ebb21ec0.86402","order":2,"disp":true,"width":"6","collapse":false},{"id":"ebb21ec0.86402","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]