farm_poller.json
[{"id":"2958efbe.50e64","type":"tab","label":"API Farm Schedule Poller","disabled":false,"info":""},{"id":"e5a825b1.f59af8","type":"tab","label":"Farm Schedule Writer","disabled":false,"info":""},{"id":"2233f272.42b94e","type":"tab","label":"Irrigation Notifier","disabled":false,"info":""},{"id":"ec9dd06f.7c9ed","type":"tab","label":"Logged Irrigation Data Poster","disabled":false,"info":""},{"id":"7808597.d8d32a8","type":"tab","label":"Config Updater","disabled":false,"info":""},{"id":"511a4567.140e5c","type":"tab","label":"Valve Poller","disabled":false,"info":""},{"id":"2535b4e8.3988dc","type":"tab","label":"Pump Poller","disabled":false,"info":""},{"id":"8aea11fe.00cab","type":"tab","label":"EC Poller","disabled":false,"info":""},{"id":"bf688021.af7d6","type":"tab","label":"Irrigation Status Poller","disabled":false,"info":""},{"id":"ab847f3c.62639","type":"tab","label":"Water Usage Poller","disabled":false,"info":""},{"id":"9fd942ae.b72cf","type":"tab","label":"Time Update","disabled":false,"info":""},{"id":"481ac21.d63113c","type":"subflow","name":"Valve Modbus reader (Dummy)","info":"","category":"","in":[{"x":60,"y":320,"wires":[{"id":"3778001d.d08d"},{"id":"959c638a.adbda"},{"id":"643b0b0e.8b2414"},{"id":"ba651e7e.875fc"},{"id":"8bc1a0f5.419fd"},{"id":"b23dbebb.dc877"},{"id":"1f4aab25.909d15"},{"id":"63f5118e.51f77"},{"id":"6ac417be.fc7d58"}]}],"out":[{"x":1160,"y":320,"wires":[{"id":"7750b652.4d80d8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b779b5d2.f035c8","type":"subflow","name":"Read Pump Modbus","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"a7a2d1aa.a714"},{"id":"6440b5f3.cb5f3c"},{"id":"9292067d.244188"},{"id":"cdd02300.12b72"},{"id":"e2272e76.e350f"},{"id":"3a11a20a.42192e"}]}],"out":[{"x":1160,"y":320,"wires":[{"id":"7ee72f45.d4615","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"dbc6ed6e.05206","type":"subflow","name":"READ Marker Bit Schneider","info":"Read a %M Marker Bit in a Schneider PLC","category":"","in":[{"x":240,"y":160,"wires":[{"id":"552b89d6.bca1f8"}]}],"out":[{"x":600,"y":160,"wires":[{"id":"552b89d6.bca1f8","port":0}]}],"env":[]},{"id":"c744472e.ad06e8","type":"subflow","name":"Read REAL Schneider ","info":"Converts the two 16 bit integer values from a Schneider PLC to REAL / Float value","category":"","in":[{"x":260,"y":200,"wires":[{"id":"e8bf46df.5a6238"}]}],"out":[{"x":800,"y":200,"wires":[{"id":"90a93da4.d9d11","port":0}]}],"env":[]},{"id":"155cb50d.fdbb7b","type":"subflow","name":"Write REAL Schneider","info":"Converts the float value input into 2 16 bit integers ","category":"","in":[{"x":120,"y":220,"wires":[{"id":"d87d6e60.f81b1"}]}],"out":[{"x":700,"y":220,"wires":[{"id":"6d31a762.08f0b8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"a992cd2b.44ffa","type":"subflow","name":"Write Date","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"7ee709ee.726718"}]}],"out":[{"x":560,"y":60,"wires":[{"id":"78f60763.65e808","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"f322eec5.94909","type":"subflow","name":"Write Farm Schedule Modbus","info":"","category":"","in":[{"x":60,"y":180,"wires":[{"id":"48714b61.eb3564"},{"id":"a7cf4adf.993dd8"},{"id":"abd78b36.fa2b68"},{"id":"21129a89.889ef6"},{"id":"e3f8fee4.beadd"}]}],"out":[{"x":700,"y":180,"wires":[{"id":"801ee30c.9fbe4","port":0}]},{"x":700,"y":240,"wires":[{"id":"974bd8f2.541198","port":0}]},{"x":700,"y":300,"wires":[{"id":"ce91fbe4.4cda88","port":0}]},{"x":700,"y":360,"wires":[{"id":"fc984226.3a10c","port":0}]},{"x":700,"y":420,"wires":[{"id":"b43e6eed.873c8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"d43c716d.1f0c6","type":"subflow","name":"Read Valve Modbus","info":"","category":"","in":[{"x":60,"y":320,"wires":[{"id":"8c11948d.c92458"},{"id":"6834bb29.160d84"},{"id":"8031446d.f64b38"},{"id":"9c28bf85.b2753"},{"id":"2087a27a.1c27ce"}]}],"out":[{"x":1180,"y":520,"wires":[{"id":"701a70a2.197d2","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"6980455a.48420c","type":"subflow","name":"Round Float","info":"","category":"","in":[{"x":160,"y":160,"wires":[{"id":"b008ffee.44e17"}]}],"out":[{"x":560,"y":160,"wires":[{"id":"b008ffee.44e17","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"364dc9ee.ebdf76","type":"subflow","name":"Timestamp","info":"","category":"","in":[{"x":200,"y":140,"wires":[{"id":"2df76dd6.a510e2"}]}],"out":[{"x":740,"y":140,"wires":[{"id":"2df76dd6.a510e2","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"3a3aa297.300fae","type":"subflow","name":"Read EC Modbus","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"d16c2fc5.6b9a8"},{"id":"f03b1864.a0b128"},{"id":"161313db.af334c"},{"id":"6ad86888.9be268"},{"id":"6c39c814.5a1148"}]}],"out":[{"x":1120,"y":340,"wires":[{"id":"5fcb7d6b.c82774","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"87e58465.865468","type":"subflow","name":"Read Irrigation Status Modbus","info":"","category":"","in":[{"x":60,"y":200,"wires":[{"id":"6eed51d3.49f58"},{"id":"85c76011.ca99a"},{"id":"ceedcd88.706ae"},{"id":"6039386f.c4f578"},{"id":"405038c8.fdfe78"},{"id":"d26ce4d5.172248"},{"id":"ee484c17.7e84c"},{"id":"1df38cb3.5f4a13"}]}],"out":[{"x":1160,"y":420,"wires":[{"id":"9a42efd3.bea04","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"a979388c.c631d8","type":"subflow","name":"Read Water Usage Modbus","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"e5000687.811348"},{"id":"c4750a6a.e4e8f8"},{"id":"281e4213.ae9e9e"},{"id":"b2928731.b1f668"}]}],"out":[{"x":1160,"y":380,"wires":[{"id":"7d7bb8d.e9f2548","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"bfaf8a90.320f18","type":"subflow","name":"Read Float Segment","info":"","category":"","in":[{"x":100,"y":80,"wires":[{"id":"eae0d2bf.d7664"}]}],"out":[{"x":600,"y":200,"wires":[{"id":"5149e763.032638","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"d77f754a.8a8638","type":"subflow","name":"SET & RESET writing bits","info":"","category":"","in":[{"x":160,"y":140,"wires":[{"id":"f98a7573.e3ece8"}]}],"out":[{"x":840,"y":560,"wires":[{"id":"cab51b67.cacbf8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"4a907255.7d0e8c","type":"subflow","name":"Read Logged Irrigation Modbus","info":"","category":"","in":[{"x":60,"y":160,"wires":[{"id":"2d729683.cc0b2a"},{"id":"2bc6b47d.3f685c"},{"id":"d191f40c.872a98"},{"id":"fc7b75de.7c7398"},{"id":"382b37fb.417308"},{"id":"4caedf13.91ab6"},{"id":"d769b687.913318"}]}],"out":[{"x":1300,"y":420,"wires":[{"id":"bb67a8d3.375768","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"cec4e387.950ca","type":"mqtt-broker","name":"Siemens IoT2020 Gateway","broker":"192.168.0.104","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"763b0547.26ce3c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"64fb5e4d.38e0b","type":"ui_group","name":"Test","tab":"ebb21ec0.86402","order":1,"disp":true,"width":"6","collapse":false},{"id":"ebb21ec0.86402","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"158a2db.8be95d2","type":"modbus-client","name":"M221","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.137.100","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"8da46fd8.ba1ca","type":"ui_group","name":"Configuration","tab":"ebb21ec0.86402","order":2,"disp":true,"width":"6","collapse":false},{"id":"1b5984d5.6b970b","type":"inject","z":"2958efbe.50e64","name":"Poll every few seconds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["fe493ec2.bddac"]]},{"id":"fe493ec2.bddac","type":"http request","z":"2958efbe.50e64","name":"GET farm API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://lodicon-test-api.herokuapp.com/api/v1/-2147483551/MyFirstGateway/irrigation","tls":"","persist":false,"proxy":"","authType":"","x":160,"y":140,"wires":[["689cdba3.a08c94","47512d45.3c7a94","dd3dcde6.031c2","3849251c.988a4a","7e346937.03b288"]]},{"id":"47512d45.3c7a94","type":"function","z":"2958efbe.50e64","name":"Orri 1-3","func":"msg.payload = msg.payload.find(f => f.field_name === \"Orri 1-3\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["fb49f9a.8524f08"]]},{"id":"689cdba3.a08c94","type":"function","z":"2958efbe.50e64","name":"Eureka","func":"msg.payload = msg.payload.find(f => f.field_name === \"Eureka\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":200,"wires":[["bd4afbf6.b1def8","785fa1d1.cdca8"]]},{"id":"dd3dcde6.031c2","type":"function","z":"2958efbe.50e64","name":"Orri 5","func":"msg.payload = msg.payload.find(f => f.field_name === \"Orri 5\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":280,"wires":[["ed223379.5cd61"]]},{"id":"3849251c.988a4a","type":"function","z":"2958efbe.50e64","name":"Nadorcott 7-8","func":"msg.payload = msg.payload.find(f => f.field_name === \"Nadorcott 7-8\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":320,"wires":[["80eac87b.fdf798"]]},{"id":"7e346937.03b288","type":"function","z":"2958efbe.50e64","name":"Nadorcott 6","func":"msg.payload = msg.payload.find(f => f.field_name === \"Nadorcott 6\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":360,"wires":[["9c5571e3.9f23"]]},{"id":"bd4afbf6.b1def8","type":"link out","z":"2958efbe.50e64","name":"Eureka","links":["275bfcac.70c834","3f61ef8f.fcf2e"],"x":615,"y":200,"wires":[]},{"id":"fb49f9a.8524f08","type":"link out","z":"2958efbe.50e64","name":"Orri 1-3","links":["21b6e91.02b5e16","bf813b39.d22db8"],"x":615,"y":240,"wires":[]},{"id":"80eac87b.fdf798","type":"link out","z":"2958efbe.50e64","name":"Nadorcott 7-8","links":["b68c7931.c97798","6efe2e2e.9b3ec"],"x":615,"y":320,"wires":[]},{"id":"ed223379.5cd61","type":"link out","z":"2958efbe.50e64","name":"Orri 5","links":["1a59dd97.32e662"],"x":615,"y":280,"wires":[]},{"id":"9c5571e3.9f23","type":"link out","z":"2958efbe.50e64","name":"Nadorcott 6","links":["9ffbc20a.a1ee3","d33eb74f.5fbe88"],"x":615,"y":360,"wires":[]},{"id":"ba48d596.c51648","type":"comment","z":"2958efbe.50e64","name":"Repeats every 10 seconds","info":"","x":160,"y":40,"wires":[]},{"id":"a3086b0a.88b048","type":"comment","z":"2958efbe.50e64","name":"Retrieve values for specific farms","info":"","x":490,"y":160,"wires":[]},{"id":"ddbac98a.173c68","type":"inject","z":"511a4567.140e5c","name":"Valve Poller","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["2a1ef29d.b274be","3ce5c5d.a67383a","52049886.b66a78"]]},{"id":"4e3d9861.cfcd78","type":"join","z":"511a4567.140e5c","name":"Join sequence into array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":460,"wires":[["80cb89a6.12fc28"]]},{"id":"1c3fdb20.554665","type":"debug","z":"511a4567.140e5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":560,"wires":[]},{"id":"80cb89a6.12fc28","type":"json","z":"511a4567.140e5c","name":"Format to JSON","property":"payload","action":"obj","pretty":true,"x":920,"y":520,"wires":[["1c3fdb20.554665","27ed509f.e373a"]]},{"id":"1037751a.769c7b","type":"comment","z":"511a4567.140e5c","name":"Set valve count here","info":"","x":890,"y":400,"wires":[]},{"id":"785fa1d1.cdca8","type":"debug","z":"2958efbe.50e64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":40,"wires":[]},{"id":"27ed509f.e373a","type":"http request","z":"511a4567.140e5c","name":"POST Valve data","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://lodicon-test-api.herokuapp.com/api/v1/-2147483551/MyFirstGateway/valves","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":580,"wires":[["1c3fdb20.554665"]]},{"id":"7750b652.4d80d8","type":"join","z":"481ac21.d63113c","name":"Join into an Object (with topics as keys)","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":920,"y":320,"wires":[[]]},{"id":"959c638a.adbda","type":"change","z":"481ac21.d63113c","name":"real_time_flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"1.0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":200,"wires":[["b1341f83.60b26"]]},{"id":"643b0b0e.8b2414","type":"change","z":"481ac21.d63113c","name":"real_time_flow_unit","rules":[{"t":"set","p":"payload","pt":"msg","to":"m³/h","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":240,"wires":[["5aa649e4.7adb48"]]},{"id":"8bc1a0f5.419fd","type":"change","z":"481ac21.d63113c","name":"total_flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"1.0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":320,"wires":[["70396751.d5aea8"]]},{"id":"b23dbebb.dc877","type":"change","z":"481ac21.d63113c","name":"total_flow_unit","rules":[{"t":"set","p":"payload","pt":"msg","to":"m³/h","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":360,"wires":[["f17f4207.0655f"]]},{"id":"3778001d.d08d","type":"change","z":"481ac21.d63113c","name":"alarm","rules":[{"t":"set","p":"payload","pt":"msg","to":"No Alarm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":160,"wires":[["1a78c323.fc7d2d"]]},{"id":"ba651e7e.875fc","type":"change","z":"481ac21.d63113c","name":"status","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":280,"wires":[["823db6d3.dced18"]]},{"id":"1f4aab25.909d15","type":"change","z":"481ac21.d63113c","name":"valve_type","rules":[{"t":"set","p":"payload","pt":"msg","to":"fertilizer valve","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":400,"wires":[["15b8e12a.e750df"]]},{"id":"63f5118e.51f77","type":"change","z":"481ac21.d63113c","name":"timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":480,"wires":[["c68b791c.178e48"]]},{"id":"78598f7.6cb297","type":"comment","z":"511a4567.140e5c","name":"Feed object structure here","info":"","x":350,"y":160,"wires":[]},{"id":"2a1ef29d.b274be","type":"change","z":"511a4567.140e5c","name":"Fertilizer B (dummy)","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fertilizer B","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":280,"wires":[["74b152bb.4f1fcc"]]},{"id":"3ce5c5d.a67383a","type":"change","z":"511a4567.140e5c","name":"Backwash_Valve_01 (dummy)","rules":[{"t":"set","p":"payload","pt":"msg","to":"Backwash_Valve_01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":340,"wires":[["54c00648.29a5f8"]]},{"id":"74b152bb.4f1fcc","type":"subflow:481ac21.d63113c","z":"511a4567.140e5c","name":"","env":[],"x":650,"y":280,"wires":[["4e3d9861.cfcd78"]]},{"id":"54c00648.29a5f8","type":"subflow:481ac21.d63113c","z":"511a4567.140e5c","name":"","env":[],"x":650,"y":340,"wires":[["4e3d9861.cfcd78"]]},{"id":"e137eb82.ac26b8","type":"comment","z":"481ac21.d63113c","name":"Click to see explanation","info":"The input simply has the name of the valve as its payload, e.g. \"Fertilizer A\". At the prompt of the input, each of the Modbus getters reads its value and passes it in the message payload. We then set the topic of the message to the appropriate property, e.g. alarm or status.\n\nAfterwards, each of these messages are joined together by topic into one Object. The topic becomes the key and the payload becomes the value.\n\nIf any of the readers meet an error, they will return an undefined payload. If a payload is undefined, it is set as an empty string or 0.0, depending on the data type.","x":160,"y":60,"wires":[]},{"id":"6ac417be.fc7d58","type":"function","z":"481ac21.d63113c","name":"name","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":440,"wires":[["5edcb174.d7e3c"]]},{"id":"1a78c323.fc7d2d","type":"function","z":"481ac21.d63113c","name":"alarm topic","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"alarm\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":160,"wires":[["7750b652.4d80d8"]]},{"id":"b1341f83.60b26","type":"function","z":"481ac21.d63113c","name":"real_time_flow topic","func":"if (msg.payload === undefined){\n    msg.payload = 0.0\n}\nmsg.topic = \"real_time_flow\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":200,"wires":[["7750b652.4d80d8"]]},{"id":"5aa649e4.7adb48","type":"function","z":"481ac21.d63113c","name":"real_time_flow_unit topic","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"real_time_flow_unit\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":240,"wires":[["7750b652.4d80d8"]]},{"id":"823db6d3.dced18","type":"function","z":"481ac21.d63113c","name":"status topic","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"status\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":280,"wires":[["7750b652.4d80d8"]]},{"id":"70396751.d5aea8","type":"function","z":"481ac21.d63113c","name":"total_flow topic","func":"if (msg.payload === undefined){\n    msg.payload = 0.0\n}\nmsg.topic = \"total_flow\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":320,"wires":[["7750b652.4d80d8"]]},{"id":"f17f4207.0655f","type":"function","z":"481ac21.d63113c","name":"total_flow_unit topic","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"total_flow_unit\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":360,"wires":[["7750b652.4d80d8"]]},{"id":"15b8e12a.e750df","type":"function","z":"481ac21.d63113c","name":"valve_type topic","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"valve_type\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":400,"wires":[["7750b652.4d80d8"]]},{"id":"5edcb174.d7e3c","type":"function","z":"481ac21.d63113c","name":"name topic","func":"\nmsg.topic = \"name\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":440,"wires":[["7750b652.4d80d8"]]},{"id":"c68b791c.178e48","type":"function","z":"481ac21.d63113c","name":"timestamp topic","func":"if (msg.payload === undefined){\n    msg.payload = \"\"\n}\nmsg.topic = \"timestamp\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":480,"wires":[["7750b652.4d80d8"]]},{"id":"ed389aea.f10498","type":"ui_form","z":"7808597.d8d32a8","name":"Configuration Form","label":"Configuration Form","group":"8da46fd8.ba1ca","order":0,"width":0,"height":0,"options":[{"label":"Valve field count","value":"valve_field_count","type":"number","required":false,"rows":null},{"label":"Valve fertilizer count","value":"valve_fertilizer_count","type":"number","required":false,"rows":null},{"label":"Valve backwash count","value":"valve_backwash_count","type":"number","required":false,"rows":null},{"label":"Pump main count","value":"pump_main_count","type":"number","required":false,"rows":null},{"label":"Pump booster count","value":"pump_booster_count","type":"number","required":false,"rows":null},{"label":"Pump backwash count","value":"pump_backwash_count","type":"number","required":false,"rows":null},{"label":"Soil moisture count","value":"soil_moisture_count","type":"number","required":false,"rows":null},{"label":"Level instruments count","value":"level_instruments_count","type":"number","required":false,"rows":null},{"label":"Valve main count","value":"valve_main_count","type":"number","required":false,"rows":null},{"label":"Placeholder 02 count","value":"placeholder_02_count","type":"number","required":false,"rows":null},{"label":"Placeholder 03 count","value":"placeholder_03_count","type":"number","required":false,"rows":null},{"label":"Placeholder 04 count","value":"placeholder_04_count","type":"number","required":false,"rows":null},{"label":"Placeholder 05 count","value":"placeholder_05_count","type":"number","required":false,"rows":null},{"label":"Field valve 01 name","value":"field_valve_01_name","type":"text","required":false,"rows":null},{"label":"Field valve 02 name","value":"field_valve_02_name","type":"text","required":false,"rows":null},{"label":"Field valve 03 name","value":"field_valve_03_name","type":"text","required":false,"rows":null},{"label":"Field valve 04 name","value":"field_valve_04_name","type":"text","required":false,"rows":null},{"label":"Field valve 05 name","value":"field_valve_05_name","type":"text","required":false,"rows":null},{"label":"Field valve 06 name","value":"field_valve_06_name","type":"text","required":false,"rows":null},{"label":"Field valve 07 name","value":"field_valve_07_name","type":"text","required":false,"rows":null},{"label":"Field valve 08 name","value":"field_valve_08_name","type":"text","required":false,"rows":null},{"label":"Field valve 09 name","value":"field_valve_09_name","type":"text","required":false,"rows":null},{"label":"Field valve 10 name","value":"field_valve_10_name","type":"text","required":false,"rows":null},{"label":"Field valve 11 name","value":"field_valve_11_name","type":"text","required":false,"rows":null},{"label":"Field valve 12 name","value":"field_valve_12_name","type":"text","required":false,"rows":null},{"label":"Field valve 13 name","value":"field_valve_13_name","type":"text","required":false,"rows":null},{"label":"Field valve 14 name","value":"field_valve_14_name","type":"text","required":false,"rows":null},{"label":"Field valve 15 name","value":"field_valve_15_name","type":"text","required":false,"rows":null},{"label":"Field valve 16 name","value":"field_valve_16_name","type":"text","required":false,"rows":null},{"label":"Field valve 17 name","value":"field_valve_17_name","type":"text","required":false,"rows":null},{"label":"Field valve 18 name","value":"field_valve_18_name","type":"text","required":false,"rows":null},{"label":"Field valve 19 name","value":"field_valve_19_name","type":"text","required":false,"rows":null},{"label":"Field valve 20 name","value":"field_valve_20_name","type":"text","required":false,"rows":null},{"label":"Field valve 21 name","value":"field_valve_21_name","type":"text","required":false,"rows":null},{"label":"Field valve 22 name","value":"field_valve_22_name","type":"text","required":false,"rows":null},{"label":"Field valve 23 name","value":"field_valve_23_name","type":"text","required":false,"rows":null},{"label":"Field valve 24 name","value":"field_valve_24_name","type":"text","required":false,"rows":null},{"label":"Field valve 25 name","value":"field_valve_25_name","type":"text","required":false,"rows":null},{"label":"Field valve 26 name","value":"field_valve_26_name","type":"text","required":false,"rows":null},{"label":"Field valve 27 name","value":"field_valve_27_name","type":"text","required":false,"rows":null},{"label":"Field valve 28 name","value":"field_valve_28_name","type":"text","required":false,"rows":null},{"label":"Field valve 29 name","value":"field_valve_29_name","type":"text","required":false,"rows":null},{"label":"Field valve 30 name","value":"field_valve_30_name","type":"text","required":false,"rows":null},{"label":"Field valve 31 name","value":"field_valve_31_name","type":"text","required":false,"rows":null},{"label":"Field valve 32 name","value":"field_valve_32_name","type":"text","required":false,"rows":null},{"label":"Field valve 33 name","value":"field_valve_33_name","type":"text","required":false,"rows":null},{"label":"Field valve 34 name","value":"field_valve_34_name","type":"text","required":false,"rows":null},{"label":"Field valve 35 name","value":"field_valve_35_name","type":"text","required":false,"rows":null},{"label":"Field valve 36 name","value":"field_valve_36_name","type":"text","required":false,"rows":null},{"label":"Field valve 37 name","value":"field_valve_37_name","type":"text","required":false,"rows":null},{"label":"Field valve 38 name","value":"field_valve_38_name","type":"text","required":false,"rows":null},{"label":"Field valve 39 name","value":"field_valve_39_name","type":"text","required":false,"rows":null},{"label":"Field valve 40 name","value":"field_valve_40_name","type":"text","required":false,"rows":null},{"label":"Field valve 41 name","value":"field_valve_41_name","type":"text","required":false,"rows":null},{"label":"Field valve 42 name","value":"field_valve_42_name","type":"text","required":false,"rows":null},{"label":"Field valve 43 name","value":"field_valve_43_name","type":"text","required":false,"rows":null},{"label":"Field valve 44 name","value":"field_valve_44_name","type":"text","required":false,"rows":null},{"label":"Field valve 45 name","value":"field_valve_45_name","type":"text","required":false,"rows":null},{"label":"Field valve 46 name","value":"field_valve_46_name","type":"text","required":false,"rows":null},{"label":"Field valve 47 name","value":"field_valve_47_name","type":"text","required":false,"rows":null},{"label":"Field valve 48 name","value":"field_valve_48_name","type":"text","required":false,"rows":null},{"label":"Field valve 49 name","value":"field_valve_49_name","type":"text","required":false,"rows":null},{"label":"Field valve 50 name","value":"field_valve_50_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 01 name","value":"fertilizer_valve_01_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 02 name","value":"fertilizer_valve_02_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 03 name","value":"fertilizer_valve_03_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 04 name","value":"fertilizer_valve_04_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 05 name","value":"fertilizer_valve_05_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 06 name","value":"fertilizer_valve_06_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 07 name","value":"fertilizer_valve_07_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 08 name","value":"fertilizer_valve_08_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 09 name","value":"fertilizer_valve_09_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 10 name","value":"fertilizer_valve_10_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 11 name","value":"fertilizer_valve_11_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 12 name","value":"fertilizer_valve_12_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 13 name","value":"fertilizer_valve_13_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 14 name","value":"fertilizer_valve_14_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 15 name","value":"fertilizer_valve_15_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 16 name","value":"fertilizer_valve_16_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 17 name","value":"fertilizer_valve_17_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 18 name","value":"fertilizer_valve_18_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 19 name","value":"fertilizer_valve_19_name","type":"text","required":false,"rows":null},{"label":"Fertilizer valve 20 name","value":"fertilizer_valve_20_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 01 name","value":"backwash_valve_01_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 02 name","value":"backwash_valve_02_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 03 name","value":"backwash_valve_03_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 04 name","value":"backwash_valve_04_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 05 name","value":"backwash_valve_05_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 06 name","value":"backwash_valve_06_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 07 name","value":"backwash_valve_07_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 08 name","value":"backwash_valve_08_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 09 name","value":"backwash_valve_09_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 10 name","value":"backwash_valve_10_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 11 name","value":"backwash_valve_11_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 12 name","value":"backwash_valve_12_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 13 name","value":"backwash_valve_13_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 14 name","value":"backwash_valve_14_name","type":"text","required":false,"rows":null},{"label":"Backwash valve 15 name","value":"backwash_valve_15_name","type":"text","required":false,"rows":null},{"label":"Main pump 01 name","value":"main_pump_01_name","type":"text","required":false,"rows":null},{"label":"Main pump 02 name","value":"main_pump_02_name","type":"text","required":false,"rows":null},{"label":"Main pump 03 name","value":"main_pump_03_name","type":"text","required":false,"rows":null},{"label":"Main pump 04 name","value":"main_pump_04_name","type":"text","required":false,"rows":null},{"label":"Main pump 05 name","value":"main_pump_05_name","type":"text","required":false,"rows":null},{"label":"Backwash pump 01 name","value":"backwash_pump_01_name","type":"text","required":false,"rows":null},{"label":"Backwash pump 02 name","value":"backwash_pump_02_name","type":"text","required":false,"rows":null},{"label":"Backwash pump 03 name","value":"backwash_pump_03_name","type":"text","required":false,"rows":null},{"label":"Backwash pump 04 name","value":"backwash_pump_04_name","type":"text","required":false,"rows":null},{"label":"Backwash pump 05 name","value":"backwash_pump_05_name","type":"text","required":false,"rows":null},{"label":"Booster pump 01 name","value":"booster_pump_01_name","type":"text","required":false,"rows":null},{"label":"Booster pump 02 name","value":"booster_pump_02_name","type":"text","required":false,"rows":null},{"label":"Booster pump 03 name","value":"booster_pump_03_name","type":"text","required":false,"rows":null},{"label":"Booster pump 04 name","value":"booster_pump_04_name","type":"text","required":false,"rows":null},{"label":"Booster pump 05 name","value":"booster_pump_05_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 01 name","value":"soil_moisture_01_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 02 name","value":"soil_moisture_02_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 03 name","value":"soil_moisture_03_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 04 name","value":"soil_moisture_04_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 05 name","value":"soil_moisture_05_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 06 name","value":"soil_moisture_06_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 07 name","value":"soil_moisture_07_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 08 name","value":"soil_moisture_08_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 09 name","value":"soil_moisture_09_name","type":"text","required":false,"rows":null},{"label":"Soil moisture 10 name","value":"soil_moisture_10_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 01 name","value":"level_transmitter_01_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 02 name","value":"level_transmitter_02_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 03 name","value":"level_transmitter_03_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 04 name","value":"level_transmitter_04_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 05 name","value":"level_transmitter_05_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 06 name","value":"level_transmitter_06_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 07 name","value":"level_transmitter_07_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 08 name","value":"level_transmitter_08_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 09 name","value":"level_transmitter_09_name","type":"text","required":false,"rows":null},{"label":"Level transmitter 10 name","value":"level_transmitter_10_name","type":"text","required":false,"rows":null},{"label":"Main valve 01 name","value":"main_valve_01_name","type":"text","required":false,"rows":null},{"label":"Main valve 02 name","value":"main_valve_02_name","type":"text","required":false,"rows":null},{"label":"Main valve 03 name","value":"main_valve_03_name","type":"text","required":false,"rows":null},{"label":"Main valve 04 name","value":"main_valve_04_name","type":"text","required":false,"rows":null},{"label":"Main valve 05 name","value":"main_valve_05_name","type":"text","required":false,"rows":null}],"formValue":{"valve_field_count":"","valve_fertilizer_count":"","valve_backwash_count":"","pump_main_count":"","pump_booster_count":"","pump_backwash_count":"","soil_moisture_count":"","level_instruments_count":"","valve_main_count":"","placeholder_02_count":"","placeholder_03_count":"","placeholder_04_count":"","placeholder_05_count":"","field_valve_01_name":"","field_valve_02_name":"","field_valve_03_name":"","field_valve_04_name":"","field_valve_05_name":"","field_valve_06_name":"","field_valve_07_name":"","field_valve_08_name":"","field_valve_09_name":"","field_valve_10_name":"","field_valve_11_name":"","field_valve_12_name":"","field_valve_13_name":"","field_valve_14_name":"","field_valve_15_name":"","field_valve_16_name":"","field_valve_17_name":"","field_valve_18_name":"","field_valve_19_name":"","field_valve_20_name":"","field_valve_21_name":"","field_valve_22_name":"","field_valve_23_name":"","field_valve_24_name":"","field_valve_25_name":"","field_valve_26_name":"","field_valve_27_name":"","field_valve_28_name":"","field_valve_29_name":"","field_valve_30_name":"","field_valve_31_name":"","field_valve_32_name":"","field_valve_33_name":"","field_valve_34_name":"","field_valve_35_name":"","field_valve_36_name":"","field_valve_37_name":"","field_valve_38_name":"","field_valve_39_name":"","field_valve_40_name":"","field_valve_41_name":"","field_valve_42_name":"","field_valve_43_name":"","field_valve_44_name":"","field_valve_45_name":"","field_valve_46_name":"","field_valve_47_name":"","field_valve_48_name":"","field_valve_49_name":"","field_valve_50_name":"","fertilizer_valve_01_name":"","fertilizer_valve_02_name":"","fertilizer_valve_03_name":"","fertilizer_valve_04_name":"","fertilizer_valve_05_name":"","fertilizer_valve_06_name":"","fertilizer_valve_07_name":"","fertilizer_valve_08_name":"","fertilizer_valve_09_name":"","fertilizer_valve_10_name":"","fertilizer_valve_11_name":"","fertilizer_valve_12_name":"","fertilizer_valve_13_name":"","fertilizer_valve_14_name":"","fertilizer_valve_15_name":"","fertilizer_valve_16_name":"","fertilizer_valve_17_name":"","fertilizer_valve_18_name":"","fertilizer_valve_19_name":"","fertilizer_valve_20_name":"","backwash_valve_01_name":"","backwash_valve_02_name":"","backwash_valve_03_name":"","backwash_valve_04_name":"","backwash_valve_05_name":"","backwash_valve_06_name":"","backwash_valve_07_name":"","backwash_valve_08_name":"","backwash_valve_09_name":"","backwash_valve_10_name":"","backwash_valve_11_name":"","backwash_valve_12_name":"","backwash_valve_13_name":"","backwash_valve_14_name":"","backwash_valve_15_name":"","main_pump_01_name":"","main_pump_02_name":"","main_pump_03_name":"","main_pump_04_name":"","main_pump_05_name":"","backwash_pump_01_name":"","backwash_pump_02_name":"","backwash_pump_03_name":"","backwash_pump_04_name":"","backwash_pump_05_name":"","booster_pump_01_name":"","booster_pump_02_name":"","booster_pump_03_name":"","booster_pump_04_name":"","booster_pump_05_name":"","soil_moisture_01_name":"","soil_moisture_02_name":"","soil_moisture_03_name":"","soil_moisture_04_name":"","soil_moisture_05_name":"","soil_moisture_06_name":"","soil_moisture_07_name":"","soil_moisture_08_name":"","soil_moisture_09_name":"","soil_moisture_10_name":"","level_transmitter_01_name":"","level_transmitter_02_name":"","level_transmitter_03_name":"","level_transmitter_04_name":"","level_transmitter_05_name":"","level_transmitter_06_name":"","level_transmitter_07_name":"","level_transmitter_08_name":"","level_transmitter_09_name":"","level_transmitter_10_name":"","main_valve_01_name":"","main_valve_02_name":"","main_valve_03_name":"","main_valve_04_name":"","main_valve_05_name":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":false,"x":250,"y":220,"wires":[["711c1de9.c64844"]]},{"id":"c402f3df.9e08a","type":"inject","z":"7808597.d8d32a8","name":"Click to update configuration","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["41851ed2.3d417"]]},{"id":"41851ed2.3d417","type":"http request","z":"7808597.d8d32a8","name":"Retrieve current config","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://lodicon-test-api.herokuapp.com/api/v1/-2147483551/ChrisKim/config_update","tls":"","persist":false,"proxy":"","authType":"","x":220,"y":160,"wires":[["ed389aea.f10498"]]},{"id":"711c1de9.c64844","type":"http request","z":"7808597.d8d32a8","name":"POST new config","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://lodicon-test-api.herokuapp.com/api/v1/-2147483551/ChrisKim/config_update","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":280,"wires":[["4a3a239f.34a45c"]]},{"id":"f4191389.0bf8b","type":"ui_toast","z":"7808597.d8d32a8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notify","x":330,"y":400,"wires":[]},{"id":"4a3a239f.34a45c","type":"function","z":"7808597.d8d32a8","name":"If successful","func":"if (msg.statusCode === 200){\n    msg.payload = \"Update successful!\"\n}\nelse {\n    msg.payload = \"Update failed.\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":340,"wires":[["f4191389.0bf8b","41851ed2.3d417"]]},{"id":"552b89d6.bca1f8","type":"function","z":"dbc6ed6e.05206","name":"Read Marker Bit Schneider","func":"var bit1 = msg.payload[0]\n//msg.payload = bit1.toString();\nmsg.payload = Boolean(bit1)\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":160,"wires":[[]]},{"id":"17b7a812.3463d8","type":"comment","z":"dbc6ed6e.05206","name":"Read %M Marker Bit values over Modbus TCP from Schneider PLC","info":"Read %M Marker Bit values over Modbus TCP from Schneider PLC","x":460,"y":120,"wires":[]},{"id":"90a93da4.d9d11","type":"toFloat","z":"c744472e.ad06e8","name":"","toFixed":"","x":690,"y":200,"wires":[[]]},{"id":"e8bf46df.5a6238","type":"function","z":"c744472e.ad06e8","name":"Read REAL From Schneider PLC","func":"msg.payload = (msg.payload[1]<<16) + msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":200,"wires":[["90a93da4.d9d11"]]},{"id":"aa10f2.78055f1","type":"comment","z":"c744472e.ad06e8","name":"Read REAL values over Modbus TCP from Schneider PLC","info":"Read REAL values over Modbus TCP from Schneider PLC","x":550,"y":160,"wires":[]},{"id":"d87d6e60.f81b1","type":"function","z":"155cb50d.fdbb7b","name":"Write REAL to Schneider PLC","func":"var x = msg.payload;\nvar y = 0;\nvar z = 0;\n\n[x,y] = new Uint16Array(new Float32Array([x]).buffer);\nmsg.payload = [x, y]\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":220,"wires":[["6d31a762.08f0b8"]]},{"id":"2082d7f1.8b0798","type":"comment","z":"155cb50d.fdbb7b","name":"Write REAL values over Modbus TCP to Schneider PLC","info":"Write REAL values over Modbus TCP to Schneider PLC","x":300,"y":180,"wires":[]},{"id":"3f61ef8f.fcf2e","type":"link in","z":"e5a825b1.f59af8","name":"Eureka","links":["bd4afbf6.b1def8"],"x":275,"y":220,"wires":[["488263dc.515dec"]]},{"id":"b77e0551.82e798","type":"modbus-flex-write","z":"e5a825b1.f59af8","name":"","showStatusActivities":true,"showErrors":true,"server":"158a2db.8be95d2","emptyMsgOnFail":false,"keepMsgProperties":false,"x":930,"y":460,"wires":[["f4299dfa.cb0e6"],[]]},{"id":"7ee709ee.726718","type":"function","z":"a992cd2b.44ffa","name":"Date formatter","func":"const date = new Date(msg.payload)\nvar registrationSegment = [\n    date.getFullYear(),\n    date.getMonth() + 1, //Javascript Date months range from 0 to 11; we must add 1 to adjust\n    date.getDate(),\n    date.getHours(),\n    date.getMinutes()\n    ]\nmsg.payload = registrationSegment;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":60,"wires":[["78f60763.65e808"]],"info":"Takes as its input a date payload in the following ISO Date format:\nYYYY-mm-ddThh:mm:ss"},{"id":"78f60763.65e808","type":"function","z":"a992cd2b.44ffa","name":"Modbus overhead","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16,\n    'address': msg.block_addr + msg.attribute_offset,\n    'quantity': 5\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":60,"wires":[[]]},{"id":"801ee30c.9fbe4","type":"subflow:a992cd2b.44ffa","z":"f322eec5.94909","name":"","env":[],"x":490,"y":180,"wires":[[]]},{"id":"48714b61.eb3564","type":"function","z":"f322eec5.94909","name":"start_time","func":"msg.payload = msg.payload.start_time;\nmsg.attribute_offset = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":180,"wires":[["801ee30c.9fbe4"]],"info":"called BLOCK1_START_TIME_X in PLC configuration,\nwhere X indicates date attribute, eg. Y for year"},{"id":"a7cf4adf.993dd8","type":"function","z":"f322eec5.94909","name":"end_time","func":"msg.payload = msg.payload.end_time;\nmsg.attribute_offset = 7\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":240,"wires":[["974bd8f2.541198"]],"info":"called BLOCK1_END_TIME_X in PLC configuration,\nwhere X indicates date attribute, eg. Y for year"},{"id":"974bd8f2.541198","type":"subflow:a992cd2b.44ffa","z":"f322eec5.94909","name":"","env":[],"x":490,"y":240,"wires":[[]]},{"id":"abd78b36.fa2b68","type":"function","z":"f322eec5.94909","name":"irrigenrichecmicroszcm","func":"msg.payload = msg.payload.irrigenrichecmicroszcm;\nmsg.attribute_offset = 12;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":300,"wires":[["ce91fbe4.4cda88"]],"info":"called BLOCK1_EC_SP_REAL in PLC configuration"},{"id":"ce91fbe4.4cda88","type":"subflow:155cb50d.fdbb7b","z":"f322eec5.94909","name":"","env":[],"x":520,"y":300,"wires":[[]]},{"id":"21129a89.889ef6","type":"function","z":"f322eec5.94909","name":"irrigation_time_minutes","func":"msg.payload = msg.payload.irrigation_time_minutes;\nmsg.attribute_offset = 14;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":360,"wires":[["fc984226.3a10c"]],"info":"called BLOCK1_RUNTIME_MN in PLC configuration"},{"id":"fc984226.3a10c","type":"subflow:155cb50d.fdbb7b","z":"f322eec5.94909","name":"","env":[],"x":520,"y":360,"wires":[[]]},{"id":"6d31a762.08f0b8","type":"function","z":"155cb50d.fdbb7b","name":"Modbus overhead","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16,\n    'address': msg.block_addr + msg.attribute_offset,\n    'quantity': 2\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":220,"wires":[[]]},{"id":"e3f8fee4.beadd","type":"function","z":"f322eec5.94909","name":"ferttanklzm3_XX","func":"msg.payload = [\n    msg.payload.ferttanklzm3_01,\n    msg.payload.ferttanklzm3_02,\n    msg.payload.ferttanklzm3_03,\n    msg.payload.ferttanklzm3_04,\n    msg.payload.ferttanklzm3_05,\n    msg.payload.ferttanklzm3_06,\n    msg.payload.ferttanklzm3_07,\n    msg.payload.ferttanklzm3_08,\n    msg.payload.ferttanklzm3_09,\n    msg.payload.ferttanklzm3_10,\n    ];\nmsg.attribute_offset = 16;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":420,"wires":[["b43e6eed.873c8"]]},{"id":"cbf1e9b2.089a88","type":"subflow:f322eec5.94909","z":"e5a825b1.f59af8","name":"","env":[],"x":630,"y":260,"wires":[["b77e0551.82e798"],["b77e0551.82e798"],["b77e0551.82e798"],["b77e0551.82e798"],["b77e0551.82e798"]]},{"id":"b43e6eed.873c8","type":"function","z":"f322eec5.94909","name":"Write Fertilizer Floats","func":"const toInt16 = function(x) {\n    [x,y] = new Uint16Array(new Float32Array([x]).buffer);\n    return [x, y];\n}\n\nconst toInt16Array = function(floatArray) {\n    var int16Array = [];\n    for (let i=0; i<floatArray.length; i++){\n        int16Array.push(...toInt16(floatArray[i]));\n    }\n    return int16Array;\n}\n\nmsg.payload = {\n    value: toInt16Array(msg.payload),\n    'fc': 16,\n    'address': msg.block_addr + msg.attribute_offset,\n    'quantity': 20\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":420,"wires":[[]]},{"id":"bd486b85.525db8","type":"change","z":"e5a825b1.f59af8","name":"Eureka: set block_addr to 1000","rules":[{"t":"set","p":"block_addr","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":260,"wires":[["cbf1e9b2.089a88"]],"info":"Can be found as BLOCK1 in PLC"},{"id":"f4299dfa.cb0e6","type":"debug","z":"e5a825b1.f59af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":360,"wires":[]},{"id":"2f6692cc.df19de","type":"subflow:f322eec5.94909","z":"e5a825b1.f59af8","name":"","env":[],"x":630,"y":360,"wires":[["b77e0551.82e798"],["b77e0551.82e798"],["b77e0551.82e798"],["b77e0551.82e798"],["b77e0551.82e798"]]},{"id":"fd8b0a4d.8b4698","type":"subflow:f322eec5.94909","z":"e5a825b1.f59af8","name":"","x":630,"y":460,"wires":[["b77e0551.82e798"],["b77e0551.82e798"],["b77e0551.82e798"],["b77e0551.82e798"],["b77e0551.82e798"]]},{"id":"e533ca6f.d74378","type":"subflow:f322eec5.94909","z":"e5a825b1.f59af8","name":"","x":630,"y":560,"wires":[["b77e0551.82e798"],["b77e0551.82e798"],["b77e0551.82e798"],["b77e0551.82e798"],["b77e0551.82e798"]]},{"id":"c67a37bd.bf7db8","type":"subflow:f322eec5.94909","z":"e5a825b1.f59af8","name":"","x":630,"y":660,"wires":[["b77e0551.82e798"],["b77e0551.82e798"],["b77e0551.82e798"],["b77e0551.82e798"],["b77e0551.82e798"]]},{"id":"bf813b39.d22db8","type":"link in","z":"e5a825b1.f59af8","name":"Orri 1-3","links":["fb49f9a.8524f08"],"x":275,"y":320,"wires":[["178011be.b6bfae"]]},{"id":"6efe2e2e.9b3ec","type":"link in","z":"e5a825b1.f59af8","name":"Nadorcott 7-8","links":["80eac87b.fdf798"],"x":275,"y":520,"wires":[["2f3bf328.3eb34c"]]},{"id":"1a59dd97.32e662","type":"link in","z":"e5a825b1.f59af8","name":"Orri 5","links":["ed223379.5cd61"],"x":275,"y":420,"wires":[["c5ef71ec.78f95"]]},{"id":"d33eb74f.5fbe88","type":"link in","z":"e5a825b1.f59af8","name":"Nadorcott 6","links":["9c5571e3.9f23"],"x":275,"y":620,"wires":[["9a7fb0bb.f6625"]]},{"id":"178011be.b6bfae","type":"rbe","z":"e5a825b1.f59af8","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":320,"wires":[["24700dc2.7922c2"]]},{"id":"24700dc2.7922c2","type":"change","z":"e5a825b1.f59af8","name":"Orri 1-3: set block_addr to 1051","rules":[{"t":"set","p":"block_addr","pt":"msg","to":"1051","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":360,"wires":[["2f6692cc.df19de"]],"info":"Can be found as BLOCK2 in PLC"},{"id":"c5ef71ec.78f95","type":"rbe","z":"e5a825b1.f59af8","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":420,"wires":[["79622b32.80ed94"]]},{"id":"79622b32.80ed94","type":"change","z":"e5a825b1.f59af8","name":"Orri 5: set block_addr to 1102","rules":[{"t":"set","p":"block_addr","pt":"msg","to":"1102","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":460,"wires":[["fd8b0a4d.8b4698"]],"info":"Can be found as BLOCK3 in PLC"},{"id":"2f3bf328.3eb34c","type":"rbe","z":"e5a825b1.f59af8","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":520,"wires":[["e88c517d.c2b84"]]},{"id":"e88c517d.c2b84","type":"change","z":"e5a825b1.f59af8","name":"Nadorcott 7-8: set block_addr to 1153","rules":[{"t":"set","p":"block_addr","pt":"msg","to":"1153","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":560,"wires":[["e533ca6f.d74378"]],"info":"Can be found as BLOCK4 in PLC"},{"id":"9a7fb0bb.f6625","type":"rbe","z":"e5a825b1.f59af8","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":620,"wires":[["baa11b90.eae4f8"]]},{"id":"baa11b90.eae4f8","type":"change","z":"e5a825b1.f59af8","name":" Nadorcott 6: set block_addr to 1204","rules":[{"t":"set","p":"block_addr","pt":"msg","to":"1204","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":660,"wires":[["c67a37bd.bf7db8"]],"info":"Can be found as BLOCK5 in PLC"},{"id":"701a70a2.197d2","type":"join","z":"d43c716d.1f0c6","name":"Join into an Object (with topics as keys)","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":940,"y":520,"wires":[[]]},{"id":"8c11948d.c92458","type":"function","z":"d43c716d.1f0c6","name":"Pass on other properties","func":"msg.payload = {\n    'name': msg.payload.name,\n    'timestamp': msg.payload.timestamp,\n    'valve_type': msg.payload.valve_type,\n    'real_time_flow_unit': msg.payload.real_time_flow_unit,\n    'total_flow_unit': msg.payload.total_flow_unit\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":520,"wires":[["c629cd9.7ff333"]]},{"id":"6834bb29.160d84","type":"function","z":"d43c716d.1f0c6","name":"alarm","func":"const offset = 0;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'alarm'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":260,"wires":[["debe9a75.58d118"]]},{"id":"debe9a75.58d118","type":"modbus-flex-getter","z":"d43c716d.1f0c6","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"x":490,"y":280,"wires":[["94834650.c38898"],[]]},{"id":"8031446d.f64b38","type":"function","z":"d43c716d.1f0c6","name":"status","func":"const offset = 1;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'status'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":300,"wires":[["debe9a75.58d118"]]},{"id":"9c28bf85.b2753","type":"function","z":"d43c716d.1f0c6","name":"real_time_flow","func":"const offset = 4;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 2\n}\nmsg.topic = 'real_time_flow'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":380,"wires":[["debe9a75.58d118"]]},{"id":"2087a27a.1c27ce","type":"function","z":"d43c716d.1f0c6","name":"total_flow","func":"const offset = 2;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'total_flow'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":340,"wires":[["debe9a75.58d118"]]},{"id":"94834650.c38898","type":"switch","z":"d43c716d.1f0c6","name":"Handle floats separately","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"real_time_flow","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":360,"wires":[["5982c442.40b57c"],["31cd870c.60a478"]]},{"id":"31cd870c.60a478","type":"function","z":"d43c716d.1f0c6","name":"Read INT Schneider","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":380,"wires":[["701a70a2.197d2"]]},{"id":"488263dc.515dec","type":"rbe","z":"e5a825b1.f59af8","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":370,"y":220,"wires":[["bd486b85.525db8"]]},{"id":"5982c442.40b57c","type":"subflow:c744472e.ad06e8","z":"d43c716d.1f0c6","name":"","env":[],"x":800,"y":340,"wires":[["d02c79fb.f18d68"]]},{"id":"52049886.b66a78","type":"function","z":"511a4567.140e5c","name":"Fertilizer A: block_addr=2000","func":"msg.payload = {\n    alarm: 0,\n    real_time_flow: 0,\n    real_time_flow_unit: \"m³/h\",\n    status: 0,\n    total_flow: 1,\n    total_flow_unit: \"m³/h\",\n    valve_type: \"fertilizer valve\",\n    name: \"Fertilizer A\",\n    timestamp: \"\"\n}\nmsg.block_addr = 2000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":220,"wires":[["db36e5a1.864278"]]},{"id":"db36e5a1.864278","type":"subflow:d43c716d.1f0c6","z":"511a4567.140e5c","name":"","x":680,"y":220,"wires":[["4e3d9861.cfcd78"]]},{"id":"9dc44c2a.4f26f","type":"split","z":"d43c716d.1f0c6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":670,"y":520,"wires":[["701a70a2.197d2"]]},{"id":"b008ffee.44e17","type":"function","z":"6980455a.48420c","name":"Round to 3 decimal places","func":"msg.payload = Math.round(msg.payload * 1000) / 1000\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[[]]},{"id":"d02c79fb.f18d68","type":"subflow:6980455a.48420c","z":"d43c716d.1f0c6","name":"","env":[],"x":990,"y":340,"wires":[["701a70a2.197d2"]]},{"id":"c629cd9.7ff333","type":"subflow:364dc9ee.ebdf76","z":"d43c716d.1f0c6","name":"","env":[],"x":520,"y":520,"wires":[["9dc44c2a.4f26f"]]},{"id":"7ee72f45.d4615","type":"join","z":"b779b5d2.f035c8","name":"Join into an Object (with topics as keys)","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"11","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":900,"y":320,"wires":[[]]},{"id":"a7a2d1aa.a714","type":"function","z":"b779b5d2.f035c8","name":"Pass on other properties","func":"msg.payload = {\n    'name': msg.payload.name,\n    'timestamp': msg.payload.timestamp,\n    'valve_type': msg.payload.valve_type,\n    'real_time_flow_unit': msg.payload.real_time_flow_unit,\n    'real_time_pressure_unit': msg.payload.real_time_pressure_unit,\n    'total_flow_unit': msg.payload.total_flow_unit,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":320,"wires":[["d9cc84e9.7e6ce8"]]},{"id":"e2272e76.e350f","type":"function","z":"b779b5d2.f035c8","name":"alarm","func":"const offset = 0;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'alarm'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":60,"wires":[["5007162b.b58ef8"]]},{"id":"5007162b.b58ef8","type":"modbus-flex-getter","z":"b779b5d2.f035c8","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"x":450,"y":80,"wires":[["832f6e55.fc2ba"],[]]},{"id":"cdd02300.12b72","type":"function","z":"b779b5d2.f035c8","name":"real_time_flow","func":"const offset = 4;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 2\n}\nmsg.topic = 'real_time_flow'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":180,"wires":[["5007162b.b58ef8"]]},{"id":"6440b5f3.cb5f3c","type":"function","z":"b779b5d2.f035c8","name":"total_flow","func":"const offset = 2;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'total_flow'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":140,"wires":[["5007162b.b58ef8"]]},{"id":"832f6e55.fc2ba","type":"switch","z":"b779b5d2.f035c8","name":"Handle floats separately","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"real_time_flow","vt":"str"},{"t":"eq","v":"real_time_pressure","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":160,"wires":[["2a1bff44.2be22"],["2a1bff44.2be22"],["89e2be0.da69a4"]]},{"id":"89e2be0.da69a4","type":"function","z":"b779b5d2.f035c8","name":"Read INT Schneider","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":180,"wires":[["7ee72f45.d4615"]]},{"id":"2a1bff44.2be22","type":"subflow:c744472e.ad06e8","z":"b779b5d2.f035c8","name":"","env":[],"x":760,"y":140,"wires":[["7505bd0f.818ba4"]]},{"id":"d86573f5.e906d","type":"split","z":"b779b5d2.f035c8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":610,"y":320,"wires":[["7ee72f45.d4615"]]},{"id":"7505bd0f.818ba4","type":"subflow:6980455a.48420c","z":"b779b5d2.f035c8","name":"","env":[],"x":950,"y":140,"wires":[["7ee72f45.d4615"]]},{"id":"d9cc84e9.7e6ce8","type":"subflow:364dc9ee.ebdf76","z":"b779b5d2.f035c8","name":"","env":[],"x":480,"y":320,"wires":[["d86573f5.e906d"]]},{"id":"9292067d.244188","type":"function","z":"b779b5d2.f035c8","name":"real_time_pressure","func":"const offset = 6;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 2\n}\nmsg.topic = 'real_time_pressure'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":220,"wires":[["5007162b.b58ef8"]]},{"id":"dbfa9521.6c69d8","type":"inject","z":"2535b4e8.3988dc","name":"Pump Poller","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["a2a352a2.fa0d7","eee6fb3b.b91058"]]},{"id":"e4e8c95b.1c1438","type":"join","z":"2535b4e8.3988dc","name":"Join sequence into array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":380,"wires":[["534437e0.4443f8"]]},{"id":"586764cf.91e69c","type":"debug","z":"2535b4e8.3988dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":480,"wires":[]},{"id":"534437e0.4443f8","type":"json","z":"2535b4e8.3988dc","name":"Format to JSON","property":"payload","action":"obj","pretty":true,"x":920,"y":440,"wires":[["586764cf.91e69c","227b1885.e71798"]]},{"id":"33bbd671.fd45ea","type":"comment","z":"2535b4e8.3988dc","name":"Set pump count here","info":"","x":890,"y":320,"wires":[]},{"id":"227b1885.e71798","type":"http request","z":"2535b4e8.3988dc","name":"POST Pumps data","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://lodicon-test-api.herokuapp.com/api/v1/-2147483551/ChrisKim/pumps","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":500,"wires":[["586764cf.91e69c"]]},{"id":"d1966b80.dbc4c8","type":"comment","z":"2535b4e8.3988dc","name":"Feed object structure here","info":"","x":350,"y":80,"wires":[]},{"id":"a2a352a2.fa0d7","type":"change","z":"2535b4e8.3988dc","name":"Backwash_Pump_01 (dummy)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"alarm\": \"No Alarm\",    \"name\": \"Backwash_Pump_01\",    \"real_time_flow\": 0.0,    \"real_time_pressure\": 0.0,    \"real_time_flow_unit\": \"m³\",    \"real_time_pressure_unit\": \"bar\",    \"status\": \"kakking\",    \"timestamp\": \"2021-07-09 09:01\",    \"total_flow\": 1,    \"total_flow_unit\": \"m³\",    \"valve_type\": \"backwash pump\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":200,"wires":[["e4e8c95b.1c1438"]]},{"id":"eee6fb3b.b91058","type":"function","z":"2535b4e8.3988dc","name":"Main_Pump_01: block_addr=2500","func":"msg.payload = {\n    alarm: 0,\n    real_time_flow: 0,\n    real_time_flow_unit: \"m³/h\",\n    real_time_pressure: 0,\n    real_time_pressure_unit: \"bar\",\n    status: 0,\n    total_flow: 1,\n    total_flow_unit: \"m³/h\",\n    valve_type: \"main pump\",\n    name: \"Main_Pump_01\",\n    timestamp: \"\"\n}\nmsg.block_addr = 2500;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":140,"wires":[["d0495338.49702"]]},{"id":"d0495338.49702","type":"subflow:b779b5d2.f035c8","z":"2535b4e8.3988dc","name":"","env":[],"x":680,"y":140,"wires":[["e4e8c95b.1c1438"]]},{"id":"3a11a20a.42192e","type":"function","z":"b779b5d2.f035c8","name":"status","func":"const offset = 1;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'status'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":100,"wires":[["5007162b.b58ef8"]]},{"id":"5fcb7d6b.c82774","type":"join","z":"3a3aa297.300fae","name":"Join into an Object (with topics as keys)","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"11","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":880,"y":340,"wires":[[]]},{"id":"6c39c814.5a1148","type":"function","z":"3a3aa297.300fae","name":"Pass on other properties","func":"msg.payload = {\n    'name': msg.payload.name,\n    'timestamp': msg.payload.timestamp,\n    'unit': msg.payload.unit\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":340,"wires":[["f0dc2874.004358"]]},{"id":"d16c2fc5.6b9a8","type":"function","z":"3a3aa297.300fae","name":"alarm","func":"const offset = 0;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'alarm'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":80,"wires":[["d4601ca6.aeeec"]]},{"id":"d4601ca6.aeeec","type":"modbus-flex-getter","z":"3a3aa297.300fae","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"x":430,"y":100,"wires":[["6ccdab16.5ed954"],[]]},{"id":"161313db.af334c","type":"function","z":"3a3aa297.300fae","name":"average_value","func":"const offset = 4;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 2\n}\nmsg.topic = 'average_value'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":160,"wires":[["d4601ca6.aeeec"]]},{"id":"f03b1864.a0b128","type":"function","z":"3a3aa297.300fae","name":"value","func":"const offset = 2;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 2\n}\nmsg.topic = 'value'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":120,"wires":[["d4601ca6.aeeec"]]},{"id":"6ccdab16.5ed954","type":"switch","z":"3a3aa297.300fae","name":"Handle floats separately","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"value","vt":"str"},{"t":"eq","v":"average_value","vt":"str"},{"t":"eq","v":"setpoint","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":490,"y":180,"wires":[["a877b322.2d644"],["a877b322.2d644"],["a877b322.2d644"],["5450e991.f7d818"]]},{"id":"5450e991.f7d818","type":"function","z":"3a3aa297.300fae","name":"Read INT Schneider","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":200,"wires":[["5fcb7d6b.c82774"]]},{"id":"a877b322.2d644","type":"subflow:c744472e.ad06e8","z":"3a3aa297.300fae","name":"","env":[],"x":740,"y":160,"wires":[["de070ac2.c85828"]]},{"id":"1723c9d6.f2b6e6","type":"split","z":"3a3aa297.300fae","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":590,"y":340,"wires":[["5fcb7d6b.c82774"]]},{"id":"de070ac2.c85828","type":"subflow:6980455a.48420c","z":"3a3aa297.300fae","name":"","env":[],"x":930,"y":160,"wires":[["5fcb7d6b.c82774"]]},{"id":"f0dc2874.004358","type":"subflow:364dc9ee.ebdf76","z":"3a3aa297.300fae","name":"","env":[],"x":460,"y":340,"wires":[["1723c9d6.f2b6e6"]]},{"id":"6ad86888.9be268","type":"function","z":"3a3aa297.300fae","name":"setpoint","func":"const offset = 6;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 2\n}\nmsg.topic = 'setpoint'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":200,"wires":[["d4601ca6.aeeec"]]},{"id":"def66a8a.05d868","type":"inject","z":"8aea11fe.00cab","name":"EC Poller","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["ad61787b.418388"]]},{"id":"2359e72f.cc2428","type":"join","z":"8aea11fe.00cab","name":"Join sequence into array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":930,"y":360,"wires":[["e0a68d8d.9a3a2"]]},{"id":"54209f2.d6b306","type":"debug","z":"8aea11fe.00cab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":460,"wires":[]},{"id":"e0a68d8d.9a3a2","type":"json","z":"8aea11fe.00cab","name":"Format to JSON","property":"payload","action":"obj","pretty":true,"x":940,"y":420,"wires":[["54209f2.d6b306","1a515c53.83beb4"]]},{"id":"d3b8c06c.e4b4f","type":"comment","z":"8aea11fe.00cab","name":"Set EC count here","info":"","x":910,"y":300,"wires":[]},{"id":"1a515c53.83beb4","type":"http request","z":"8aea11fe.00cab","name":"POST EC data","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://lodicon-test-api.herokuapp.com/api/v1/-2147483551/ChrisKim/ec","tls":"","persist":false,"proxy":"","authType":"","x":980,"y":480,"wires":[["54209f2.d6b306"]]},{"id":"8a471e87.d3857","type":"comment","z":"8aea11fe.00cab","name":"Feed object structure here","info":"","x":370,"y":60,"wires":[]},{"id":"ad61787b.418388","type":"function","z":"8aea11fe.00cab","name":"Fertil1: block_addr=3000","func":"msg.payload = {\n    \"alarm\": 0,\n    \"name\": \"Ferti1\",\n    \"value\": 0,\n    \"average_value\": 0,\n    \"unit\": \"mS\",\n    \"timestamp\": \"\",\n    \"setpoint\": 0\n}\nmsg.block_addr = 3000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":120,"wires":[["de8fdff3.74c58"]]},{"id":"de8fdff3.74c58","type":"subflow:3a3aa297.300fae","z":"8aea11fe.00cab","name":"","x":630,"y":120,"wires":[["2359e72f.cc2428"]]},{"id":"9a42efd3.bea04","type":"join","z":"87e58465.865468","name":"Join into an Object (with topics as keys)","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":940,"y":420,"wires":[[]]},{"id":"1df38cb3.5f4a13","type":"function","z":"87e58465.865468","name":"Pass on other properties","func":"msg.payload = {\n    'name': msg.payload.name,\n    'timestamp': msg.payload.timestamp,\n    'battery_level': msg.payload.battery_level\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":420,"wires":[["5f03f2c1.66188c"]]},{"id":"6eed51d3.49f58","type":"function","z":"87e58465.865468","name":"alarm","func":"const offset = 0;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'alarm'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":80,"wires":[["4aa25c74.2ecea4"]]},{"id":"4aa25c74.2ecea4","type":"modbus-flex-getter","z":"87e58465.865468","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"x":490,"y":100,"wires":[["6fa38bc2.ccd044"],[]]},{"id":"405038c8.fdfe78","type":"function","z":"87e58465.865468","name":"backwash_time_left","func":"const offset = 4;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'backwash_time_left'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":240,"wires":[["4aa25c74.2ecea4"]]},{"id":"ceedcd88.706ae","type":"function","z":"87e58465.865468","name":"irrigation_time_left","func":"const offset = 2;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'irrigation_time_left'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":160,"wires":[["4aa25c74.2ecea4"]]},{"id":"6fa38bc2.ccd044","type":"switch","z":"87e58465.865468","name":"Handle floats separately","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"irrigation_percentage_left","vt":"str"},{"t":"eq","v":"backwash_percentage_left","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":180,"wires":[["f645d1f2.e25ea"],["f645d1f2.e25ea"],["608a0f84.27a8d"]]},{"id":"608a0f84.27a8d","type":"function","z":"87e58465.865468","name":"Read INT Schneider","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":200,"wires":[["9a42efd3.bea04"]]},{"id":"f645d1f2.e25ea","type":"subflow:c744472e.ad06e8","z":"87e58465.865468","name":"","env":[],"x":800,"y":160,"wires":[["e71b8d92.62301"]]},{"id":"d87aee9d.927c7","type":"split","z":"87e58465.865468","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":650,"y":420,"wires":[["9a42efd3.bea04"]]},{"id":"e71b8d92.62301","type":"subflow:6980455a.48420c","z":"87e58465.865468","name":"","env":[],"x":990,"y":160,"wires":[["9a42efd3.bea04"]]},{"id":"5f03f2c1.66188c","type":"subflow:364dc9ee.ebdf76","z":"87e58465.865468","name":"","env":[],"x":500,"y":420,"wires":[["d87aee9d.927c7"]]},{"id":"d26ce4d5.172248","type":"function","z":"87e58465.865468","name":"irrigation_percentage_left","func":"const offset = 6;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 2\n}\nmsg.topic = 'irrigation_percentage_left'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":280,"wires":[["4aa25c74.2ecea4"]]},{"id":"85c76011.ca99a","type":"function","z":"87e58465.865468","name":"irrigation_status","func":"const offset = 1;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'irrigation_status'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":120,"wires":[["4aa25c74.2ecea4"]]},{"id":"6039386f.c4f578","type":"function","z":"87e58465.865468","name":"backwash_status","func":"const offset = 3;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'backwash_status'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":200,"wires":[["4aa25c74.2ecea4"]]},{"id":"ee484c17.7e84c","type":"function","z":"87e58465.865468","name":"backwash_percentage_left","func":"const offset = 8;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 2\n}\nmsg.topic = 'backwash_percentage_left'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":320,"wires":[["4aa25c74.2ecea4"]]},{"id":"72f355f9.91d9ac","type":"inject","z":"bf688021.af7d6","name":"Irrigation Status Poller","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["2b46d9c2.847506"]]},{"id":"fd56d6c3.ddabf8","type":"debug","z":"bf688021.af7d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":320,"wires":[]},{"id":"925f0c3c.6332c","type":"json","z":"bf688021.af7d6","name":"Format to JSON","property":"payload","action":"obj","pretty":true,"x":420,"y":260,"wires":[["c972134d.2e8a1","fd56d6c3.ddabf8"]]},{"id":"c972134d.2e8a1","type":"http request","z":"bf688021.af7d6","name":"POST Irrigation data","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://lodicon-test-api.herokuapp.com/api/v1/-2147483551/ChrisKim/status","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":320,"wires":[["fd56d6c3.ddabf8"]]},{"id":"2e372b4.999d4d4","type":"comment","z":"bf688021.af7d6","name":"Feed object structure here","info":"","x":370,"y":80,"wires":[]},{"id":"2b46d9c2.847506","type":"function","z":"bf688021.af7d6","name":"Glen Heatlie: block_addr=3500","func":"msg.payload = {\n\n    \"name\":\"Glen heatlie\",\n\n    \"irrigation_status\": 0,\n\n    \"irrigation_time_left\": 0,\n\n    \"irrigation_percentage_left\": 0,\n\n    \"backwash_status\": 0,\n\n    \"backwash_time_left\": 0,\n\n    \"backwash_percentage_left\": 0,\n\n    \"timestamp\": \"\",\n\n    \"battery_level\": 80.1,\n\n    \"alarm\": 0\n\n}\nmsg.block_addr = 3500;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":140,"wires":[["ec58538c.0f7ff"]]},{"id":"ec58538c.0f7ff","type":"subflow:87e58465.865468","z":"bf688021.af7d6","name":"","x":420,"y":200,"wires":[["925f0c3c.6332c"]]},{"id":"2df76dd6.a510e2","type":"function","z":"364dc9ee.ebdf76","name":"Set timestamp with local timezone (YYYY-mm-dd hh:mm:ss)","func":"// Retrieved from https://stackoverflow.com/questions/10830357/javascript-toisostring-ignores-timezone-offset\nvar tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds;\nvar time = (new Date(Date.now() - tzoffset)).toISOString().slice(0, -1);\ntime = time.replace('T', ' '); // Remove T from time format\ntime = time.replace(/\\..+/, '') // Remove all numbers after a dot (i.e. microseconds)\n\nmsg.payload.timestamp = time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":140,"wires":[[]]},{"id":"7d7bb8d.e9f2548","type":"join","z":"a979388c.c631d8","name":"Join into an Object (merge)","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"23","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":900,"y":380,"wires":[[]]},{"id":"b2928731.b1f668","type":"function","z":"a979388c.c631d8","name":"Pass on other properties","func":"var payload = {\n    'total_water_unit': msg.payload.total_water_unit,\n    'timestamp': msg.timestamp\n}\nfor (let i=1; i<=5; i++){\n    payload['total_fertilizer0'+i+'_unit'] = msg.payload['total_fertilizer0'+i+'_unit']\n    payload['total_placeholder0'+i+'_unit'] = msg.payload['total_placeholder0'+i+'_unit']\n}\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":380,"wires":[["1421db43.b55905"]]},{"id":"1421db43.b55905","type":"subflow:364dc9ee.ebdf76","z":"a979388c.c631d8","name":"","env":[],"x":420,"y":380,"wires":[["7d7bb8d.e9f2548"]]},{"id":"e5000687.811348","type":"function","z":"a979388c.c631d8","name":"total_water_flow","func":"const offset = 0;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'total_water_flow'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":100,"wires":[["ab50d68e.cc80b8"]]},{"id":"c4750a6a.e4e8f8","type":"function","z":"a979388c.c631d8","name":"total_fertilizerXX","func":"msg.attribute_offset = 10;\nmsg.label = [\"total_fertilizer\", \"_flow\"];\nmsg.float_count = 5\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":140,"wires":[["79d50044.c5995"]]},{"id":"281e4213.ae9e9e","type":"function","z":"a979388c.c631d8","name":"total_placeholderXX","func":"msg.attribute_offset = 30;\nmsg.label = [\"total_placeholder\", \"_flow\"];\nmsg.float_count = 5\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":180,"wires":[["c7cd81de.db17d"]]},{"id":"ab50d68e.cc80b8","type":"modbus-flex-getter","z":"a979388c.c631d8","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":450,"y":100,"wires":[["1e517d3b.20fed3"],[]]},{"id":"1e517d3b.20fed3","type":"function","z":"a979388c.c631d8","name":"Label","func":"msg.payload = {\n    total_water_flow: msg.payload[0]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":100,"wires":[["7d7bb8d.e9f2548"]]},{"id":"eae0d2bf.d7664","type":"function","z":"bfaf8a90.320f18","name":"Modbus overhead","func":"msg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + msg.attribute_offset,\n    'quantity': msg.float_count * 2\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":80,"wires":[["a837dfd.5accb2"]]},{"id":"a837dfd.5accb2","type":"modbus-flex-getter","z":"bfaf8a90.320f18","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"x":330,"y":140,"wires":[["5149e763.032638"],[]]},{"id":"5149e763.032638","type":"function","z":"bfaf8a90.320f18","name":"Parse into floats and label","func":"const intArray = msg.payload;\nmsg.payload = {}\nfor (let i=0; i < intArray.length-1; i+=2){\n    let index = \"\";\n    if (i < 20){\n        index = \"0\" + (i/2 + 1);\n    }\n    else{\n        index = \"\" + (i/2 + 1);\n    }\n    let key = msg.label[0].concat(index, msg.label[1]);\n    let [x, y] = [intArray[i], intArray[i + 1]];\n    \n    // Create a buffer\n    let buf = new ArrayBuffer(4);\n    // Create a 16-bit int view of it\n    let ints = new Uint16Array(buf);\n    // Fill in the values\n    ints[0] = x;\n    ints[1] = y;\n    // Create a 32-bit float view of it\n    let floats = new Float32Array(buf);\n    \n    msg.payload[key] = Math.round(floats[0] * 1000) / 1000;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":200,"wires":[[]]},{"id":"79d50044.c5995","type":"subflow:bfaf8a90.320f18","z":"a979388c.c631d8","name":"","x":450,"y":140,"wires":[["7d7bb8d.e9f2548"]]},{"id":"c7cd81de.db17d","type":"subflow:bfaf8a90.320f18","z":"a979388c.c631d8","name":"","x":450,"y":180,"wires":[["7d7bb8d.e9f2548"]]},{"id":"d1a442df.a794b","type":"inject","z":"ab847f3c.62639","name":"Water Usage Poller","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":60,"wires":[["b284506b.a581e"]]},{"id":"79b26ee0.3d9b4","type":"debug","z":"ab847f3c.62639","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":260,"wires":[]},{"id":"afb24a0f.98b1e8","type":"json","z":"ab847f3c.62639","name":"Format to JSON","property":"payload","action":"obj","pretty":true,"x":440,"y":240,"wires":[["79b26ee0.3d9b4","8ffdacb4.6bc8e"]]},{"id":"8ffdacb4.6bc8e","type":"http request","z":"ab847f3c.62639","name":"POST Water usage data","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://lodicon-test-api.herokuapp.com/api/v1/-2147483551/ChrisKim/water_usage","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":300,"wires":[["79b26ee0.3d9b4"]]},{"id":"8d5bc52.2bc0138","type":"comment","z":"ab847f3c.62639","name":"Feed object structure here","info":"","x":390,"y":60,"wires":[]},{"id":"b284506b.a581e","type":"function","z":"ab847f3c.62639","name":"block_addr=4000","func":"msg.payload = {\n    \n    \"timestamp\": \"\",\n\n    \"total_water_flow\": 0,\n\n    \"total_water_unit\": \"m³\",\n\n    \"total_fertilizer01_flow\": 0,\n\n    \"total_fertilizer01_unit\": \"l\",\n\n    \"total_fertilizer02_flow\": 0,\n\n    \"total_fertilizer02_unit\": \"l\",\n\n    \"total_fertilizer03_flow\": 0,\n\n    \"total_fertilizer03_unit\": \"l\",\n\n    \"total_fertilizer04_flow\": 0,\n\n    \"total_fertilizer04_unit\": \"l\",\n\n    \"total_fertilizer05_flow\": 0,\n\n    \"total_fertilizer05_unit\": \"l\",\n\n    \"total_placeholder01_flow\": 0,\n\n    \"total_placeholder01_unit\": \"l\",\n\n    \"total_placeholder02_flow\": 0,\n\n    \"total_placeholder02_unit\": \"l\",\n\n    \"total_placeholder03_flow\": 0,\n\n    \"total_placeholder03_unit\": \"l\",\n\n    \"total_placeholder04_flow\": 0,\n\n    \"total_placeholder04_unit\": \"l\",\n\n    \"total_placeholder05_flow\": 0,\n\n    \"total_placeholder05_unit\": \"l\"\n\n\n}\nmsg.block_addr = 4000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":120,"wires":[["1a49fd41.164ef3"]]},{"id":"1a49fd41.164ef3","type":"subflow:a979388c.c631d8","z":"ab847f3c.62639","name":"","env":[],"x":440,"y":180,"wires":[["afb24a0f.98b1e8"]]},{"id":"9525b44.35f1b48","type":"comment","z":"e5a825b1.f59af8","name":"Block unless value changes","info":"RBE is used because so many values are being written and it is unnecessary to write the same values every few seconds.","x":280,"y":140,"wires":[]},{"id":"9a20aec6.44fd8","type":"comment","z":"e5a825b1.f59af8","name":"set block_addr to wherever these BLOCKs are","info":"For example, Eureka's values can be found starting fomr %MW1000, and it is BLOCK1, so we set its msg.block_addr to 1000.","x":330,"y":180,"wires":[]},{"id":"c1e877fb.c9e658","type":"comment","z":"7808597.d8d32a8","name":"Go to [host ip]/ui to edit configuration fields","info":"You can bookmark this url for easy access.","x":220,"y":60,"wires":[]},{"id":"2297e8f3.9ba048","type":"comment","z":"f322eec5.94909","name":"Each property of the object is set an attribute_offset. Address is calculated by adding the block address (starting address of the block) to this offset.","info":"","x":640,"y":100,"wires":[]},{"id":"4639874b.469a58","type":"comment","z":"d43c716d.1f0c6","name":"Each property of the object is set an offset. Address is calculated by adding the block address (starting address of the block) to this offset.","info":"","x":500,"y":200,"wires":[]},{"id":"cb01a75f.94f398","type":"comment","z":"b779b5d2.f035c8","name":"Each property of the object is set an offset. Address is calculated by adding the block address (starting address of the block) to this offset.","info":"","x":500,"y":20,"wires":[]},{"id":"d081e87e.c065c8","type":"comment","z":"bfaf8a90.320f18","name":"Subflow to read a series of floats at a certain address (see more inside)","info":"The property names of these floats may be structured, for example, as follows:\n\n\"total_fertilizer01_flow\"\nranging to\n\"total_fertilizer15_flow\"\n\nThis subflow requires the following arguments:\n- msg.label: a two-item array. In this case label[0] = \"total_fertilizer\" and label[1] = \"_flow\". These are joined to the number in between at the end.\n- msg.float_count: The number of floats to read. In this case it is 15.\n- msg.block_addr and msg.offset are used the same way as in other flows to find the address of our values.\n\nAfter reading from the Modbus an array of integers, each pair of integers is converted to a float. The subflow outputs an object with properties. The keys of these properties are for example \"total_fertilizer_xx_flow\" and the value is the xxth float.","x":330,"y":20,"wires":[]},{"id":"c5d22fc6.ef195","type":"comment","z":"6980455a.48420c","name":"Rounding out a float read","info":"This is necessary because when we read from the Modbus a pair of integers and then convert them to float, the float is off by a tiny amount, making a long decimal number which is ugly to store. I therefore round them out to 3 decimal places.","x":250,"y":80,"wires":[]},{"id":"615706e8.a84088","type":"comment","z":"a992cd2b.44ffa","name":"A reusable subflow to format and write date (details inside)","info":"The input date is parsed into year, month, day, hour, and minute. We write each of these integers into a sequence of words.\n\nWe calculate the address with the inputs msg.block_addr and msg.attribute_offset. These two values are added to get the address. ","x":260,"y":20,"wires":[]},{"id":"891ac6b3.30c748","type":"comment","z":"9fd942ae.b72cf","name":"Regularly checks PLC's real-time clock against gateway","info":"","x":220,"y":40,"wires":[]},{"id":"199b8d1.b887973","type":"inject","z":"9fd942ae.b72cf","name":"Repeat every 1 minute","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":100,"wires":[["46ff1b4e.f16e64"]]},{"id":"2e7596d3.eef74a","type":"debug","z":"9fd942ae.b72cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":480,"wires":[]},{"id":"c2becf74.3924d","type":"function","z":"9fd942ae.b72cf","name":"Write date only if different from system time","func":"const dateNow = new Date();\nconst dateArray = [\n    dateNow.getDate(),\n    dateNow.getMonth() + 1,\n    dateNow.getFullYear(),\n    dateNow.getHours(),\n    dateNow.getMinutes(),\n    dateNow.getSeconds()\n]\n\n// Stringify arrays so we can compare them easily\nif (JSON.stringify(msg.payload) != JSON.stringify(dateArray)) {\n    msg.payload = dateArray;\n    return msg; \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":400,"wires":[["91b4808d.cf4a1","2e7596d3.eef74a"]]},{"id":"91b4808d.cf4a1","type":"function","z":"9fd942ae.b72cf","name":"Modbus overhead","func":"msg.block_addr = 0;\nmsg.payload = {\n    value: msg.payload,\n    'fc': 16,\n    'address': msg.block_addr,\n    'quantity': 6\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":460,"wires":[["8d386172.2d62d"]]},{"id":"f17c04a1.132d58","type":"function","z":"9fd942ae.b72cf","name":"Modbus overhead","func":"msg.block_addr = 6;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr,\n    'quantity': 6\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":280,"wires":[["39b06683.498dfa"]]},{"id":"39b06683.498dfa","type":"modbus-flex-getter","z":"9fd942ae.b72cf","name":"Read Dates [D, M, Y, h, m, s]","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":340,"wires":[["c2becf74.3924d","2e7596d3.eef74a"],[]]},{"id":"8d386172.2d62d","type":"modbus-flex-write","z":"9fd942ae.b72cf","name":"Write Dates [D, M, Y, h, m, s]","showStatusActivities":true,"showErrors":true,"server":"158a2db.8be95d2","emptyMsgOnFail":false,"keepMsgProperties":false,"x":440,"y":520,"wires":[["d2ddf5eb.222bd8"],[]]},{"id":"be57c8e6.fc12f8","type":"inject","z":"9fd942ae.b72cf","name":"Repeat every day","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":780,"wires":[["b8c3a7b4.fbe708"]]},{"id":"b8c3a7b4.fbe708","type":"http request","z":"9fd942ae.b72cf","name":"GET internet time","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://worldtimeapi.org/api/timezone/Africa/Johannesburg","tls":"","persist":false,"proxy":"","authType":"","x":190,"y":840,"wires":[["4fd9db53.91abf4"]]},{"id":"6d100670.a5c018","type":"debug","z":"9fd942ae.b72cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":880,"wires":[]},{"id":"4fd9db53.91abf4","type":"json","z":"9fd942ae.b72cf","name":"Parse JSON","property":"payload","action":"obj","pretty":false,"x":210,"y":900,"wires":[["7c6008bd.d729c8","6d100670.a5c018"]]},{"id":"7c6008bd.d729c8","type":"function","z":"9fd942ae.b72cf","name":"If different from system time by a few seconds,","func":"let internetDate = msg.payload.unixtime;\nlet systemDate = new Date().getTime() / 1000;\nlet diff = Math.abs(internetDate - systemDate)\nif (diff > 10) {\n    //if difference between times is greater than 10 seconds\n    msg.payload = internetDate;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":960,"wires":[["6d100670.a5c018","c0c968a.9d84498"]]},{"id":"c0c968a.9d84498","type":"exec","z":"9fd942ae.b72cf","command":"date +%s -s @","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Set system time to Unix timestamp","x":360,"y":1020,"wires":[[],[],[]]},{"id":"bbc4d88a.b02c48","type":"modbus-write","z":"9fd942ae.b72cf","name":"Set Write Bit to 0","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"Coil","adr":"500","quantity":"1","server":"158a2db.8be95d2","emptyMsgOnFail":false,"keepMsgProperties":false,"x":210,"y":220,"wires":[["f17c04a1.132d58"],[]]},{"id":"46ff1b4e.f16e64","type":"function","z":"9fd942ae.b72cf","name":"Set Write Bit to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":160,"wires":[["bbc4d88a.b02c48"]]},{"id":"f98a7573.e3ece8","type":"function","z":"d77f754a.8a8638","name":"Set Buffer Bit to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":140,"wires":[["60700bd6.971fc4"]]},{"id":"60700bd6.971fc4","type":"modbus-write","z":"d77f754a.8a8638","name":"Set Buffer Bit to 1","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"Coil","adr":"501","quantity":"1","server":"158a2db.8be95d2","emptyMsgOnFail":false,"keepMsgProperties":false,"x":390,"y":200,"wires":[["4ca23ce3.be04b4"],[]]},{"id":"4c42dfac.2598f","type":"function","z":"d77f754a.8a8638","name":"Set Write Bit to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":380,"wires":[["7165aebb.3d73e"]]},{"id":"7165aebb.3d73e","type":"modbus-write","z":"d77f754a.8a8638","name":"Set Write Bit to 0","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"Coil","adr":"500","quantity":"1","server":"158a2db.8be95d2","emptyMsgOnFail":false,"keepMsgProperties":false,"x":550,"y":440,"wires":[["e275a652.5ce948"],[]]},{"id":"4ca23ce3.be04b4","type":"function","z":"d77f754a.8a8638","name":"Set Write Bit to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":260,"wires":[["57b7ded5.88ed1"]]},{"id":"57b7ded5.88ed1","type":"modbus-write","z":"d77f754a.8a8638","name":"Set Write Bit to 1","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"Coil","adr":"500","quantity":"1","server":"158a2db.8be95d2","emptyMsgOnFail":false,"keepMsgProperties":false,"x":470,"y":320,"wires":[["4c42dfac.2598f"],[]]},{"id":"e275a652.5ce948","type":"function","z":"d77f754a.8a8638","name":"Set Buffer Bit to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":500,"wires":[["cab51b67.cacbf8"]]},{"id":"cab51b67.cacbf8","type":"modbus-write","z":"d77f754a.8a8638","name":"Set Buffer Bit to 0","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"Coil","adr":"501","quantity":"1","server":"158a2db.8be95d2","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":560,"wires":[[],[]]},{"id":"d2ddf5eb.222bd8","type":"subflow:d77f754a.8a8638","z":"9fd942ae.b72cf","name":"","env":[],"x":470,"y":580,"wires":[[]]},{"id":"6a10f00a.c5521","type":"modbus-read","z":"2233f272.42b94e","name":"Eureka alert: address=1040","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1040","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":260,"y":120,"wires":[["38f85ec1.6742a2"],[]]},{"id":"345a8f09.f588","type":"function","z":"2233f272.42b94e","name":"Alert if value is 1","func":"if (msg.payload == 1) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":240,"wires":[["2b7053f7.14099c","f968d177.2308c"]]},{"id":"2b7053f7.14099c","type":"debug","z":"2233f272.42b94e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":240,"wires":[]},{"id":"bb67a8d3.375768","type":"join","z":"4a907255.7d0e8c","name":"Join into an Object (with topics as keys)","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"11","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1060,"y":420,"wires":[[]]},{"id":"d769b687.913318","type":"function","z":"4a907255.7d0e8c","name":"Pass on other properties","func":"// Retrieved from https://stackoverflow.com/questions/10830357/javascript-toisostring-ignores-timezone-offset\nvar tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds;\nvar time = (new Date(Date.now() - tzoffset)).toISOString().slice(0, -1);\ntime = time.replace('T', ' '); // Remove T from time format\ntime = time.replace(/\\..+/, '') // Remove all numbers after a dot (i.e. microseconds)\n\nmsg.payload = {\n    'LocationDescription': msg.payload.LocationDescription,\n    'BlockID': msg.payload.BlockID,\n    'ValveDescription': msg.payload.ValveDescription,\n    'ValveID': msg.payload.ValveID,\n    'TimeStamp': time\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":420,"wires":[["b98f97ff.794658"]]},{"id":"2d729683.cc0b2a","type":"function","z":"4a907255.7d0e8c","name":"AverageMainLineFlowRateM3_H","func":"const offset = 0;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 2\n}\nmsg.topic = 'AverageMainLineFlowRateM3_H';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":160,"wires":[["3881bf85.fd434"]]},{"id":"3881bf85.fd434","type":"modbus-flex-getter","z":"4a907255.7d0e8c","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"x":610,"y":180,"wires":[["65b70491.556ffc"],[]]},{"id":"2bc6b47d.3f685c","type":"function","z":"4a907255.7d0e8c","name":"AverageMainLinePressure","func":"const offset = 2;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 2\n}\nmsg.topic = 'AverageMainLinePressure'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":200,"wires":[["3881bf85.fd434"]]},{"id":"fc7b75de.7c7398","type":"function","z":"4a907255.7d0e8c","name":"TotalMainLineFlowM3","func":"const offset = 6;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 2\n}\nmsg.topic = 'TotalMainLineFlowM3'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":280,"wires":[["3881bf85.fd434"]]},{"id":"d191f40c.872a98","type":"function","z":"4a907255.7d0e8c","name":"CalculatedMM","func":"const offset = 4;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 2\n}\nmsg.topic = 'CalculatedMM'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":240,"wires":[["3881bf85.fd434"]]},{"id":"65b70491.556ffc","type":"switch","z":"4a907255.7d0e8c","name":"Handle floats separately","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"RuntimeMins","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":260,"wires":[["8b38a27e.b0d93"],["cd2e7c47.762d1"]]},{"id":"8b38a27e.b0d93","type":"function","z":"4a907255.7d0e8c","name":"Read INT Schneider","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":240,"wires":[["bb67a8d3.375768"]]},{"id":"cd2e7c47.762d1","type":"subflow:c744472e.ad06e8","z":"4a907255.7d0e8c","name":"","env":[],"x":920,"y":280,"wires":[["ae3395b5.765548"]]},{"id":"b98f97ff.794658","type":"split","z":"4a907255.7d0e8c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":610,"y":420,"wires":[["bb67a8d3.375768"]]},{"id":"ae3395b5.765548","type":"subflow:6980455a.48420c","z":"4a907255.7d0e8c","name":"","env":[],"x":1110,"y":280,"wires":[["bb67a8d3.375768"]]},{"id":"382b37fb.417308","type":"function","z":"4a907255.7d0e8c","name":"TotalValveFlowM3","func":"const offset = 8;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 2\n}\nmsg.topic = 'TotalValveFlowM3'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":320,"wires":[["3881bf85.fd434"]]},{"id":"4caedf13.91ab6","type":"function","z":"4a907255.7d0e8c","name":"RuntimeMins","func":"const offset = 10;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'RuntimeMins'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":360,"wires":[["3881bf85.fd434"]]},{"id":"845c4b3a.0f9928","type":"inject","z":"ec9dd06f.7c9ed","name":"inject","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["6a5aa39f.3fd6cc","a229140f.d52a48"]]},{"id":"97723106.6f852","type":"join","z":"ec9dd06f.7c9ed","name":"Join sequence into array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":810,"y":460,"wires":[["93f2afc.2dadb5"]]},{"id":"e3d657e2.0c7278","type":"debug","z":"ec9dd06f.7c9ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":500,"wires":[]},{"id":"93f2afc.2dadb5","type":"json","z":"ec9dd06f.7c9ed","name":"Format to JSON","property":"payload","action":"obj","pretty":true,"x":820,"y":520,"wires":[["e5009434.8a3d78"]]},{"id":"ffba242a.a69e58","type":"comment","z":"ec9dd06f.7c9ed","name":"Set total valve count here","info":"","x":810,"y":400,"wires":[]},{"id":"ca72d3ae.b6ff4","type":"comment","z":"ec9dd06f.7c9ed","name":"Feed object structure here","info":"","x":310,"y":160,"wires":[]},{"id":"6a5aa39f.3fd6cc","type":"function","z":"ec9dd06f.7c9ed","name":"Valve 1: block_addr=5000","func":"msg.payload = {\n    \"AverageMainLineFlowRateM3_H\": 0,\n    \n    \"AverageMainLinePressure\": 0,\n    \n    \"BlockID\": \"-2147472851\",\n    \n    \"CalculatedMM\": 0,\n    \n    \"LocationDescription\": \" Eureka\",\n    \n    \"RuntimeMins\": 0,\n    \n    \"TimeStamp\": \"\",\n    \n    \"TotalMainLineFlowM3\": 0,\n    \n    \"TotalValveFlowM3\": 0,\n    \n    \"ValveDescription\": \"Valve 1\",\n    \n    \"ValveID\": \"-2147472851\"\n};\nmsg.block_addr = 5000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":220,"wires":[["a85c37b2.7ad958"]]},{"id":"a85c37b2.7ad958","type":"subflow:4a907255.7d0e8c","z":"ec9dd06f.7c9ed","name":"","env":[],"x":590,"y":220,"wires":[["97723106.6f852"]]},{"id":"a229140f.d52a48","type":"function","z":"ec9dd06f.7c9ed","name":"Valve 2: block_addr=5020","func":"msg.payload = {\n    \"AverageMainLineFlowRateM3_H\": 0,\n    \n    \"AverageMainLinePressure\": 0,\n    \n    \"BlockID\": \"-2147472851\",\n    \n    \"CalculatedMM\": 0,\n    \n    \"LocationDescription\": \" Eureka\",\n    \n    \"RuntimeMins\": 0,\n    \n    \"TimeStamp\": \"\",\n    \n    \"TotalMainLineFlowM3\": 0,\n    \n    \"TotalValveFlowM3\": 0,\n    \n    \"ValveDescription\": \"Valve 2\",\n    \n    \"ValveID\": \"-2147472851\"\n};\nmsg.block_addr = 5020;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":300,"wires":[["788c789f.6200d8"]]},{"id":"788c789f.6200d8","type":"subflow:4a907255.7d0e8c","z":"ec9dd06f.7c9ed","name":"","env":[],"x":590,"y":300,"wires":[["97723106.6f852"]]},{"id":"e5009434.8a3d78","type":"function","z":"ec9dd06f.7c9ed","name":"Format message and set Gateway ID","func":"// Retrieved from https://stackoverflow.com/questions/10830357/javascript-toisostring-ignores-timezone-offset\nvar tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds;\nvar time = (new Date(Date.now() - tzoffset)).toISOString().slice(0, -1);\ntime = time.replace('T', ' '); // Remove T from time format\ntime = time.replace(/\\..+/, '') // Remove all numbers after a dot (i.e. microseconds)\n\nmsg.payload = {\n    'gateway_data': {\n        'gateway_id': \"MyFirstGateway\",\n        'timestamp': time\n    },\n    'logged_irrigation_data': msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":580,"wires":[["e3d657e2.0c7278","8cfb79a.c61d588"]]},{"id":"8cfb79a.c61d588","type":"http request","z":"ec9dd06f.7c9ed","name":"POST Irrigation data","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://lodicon-test-api.herokuapp.com/api/v1/2147483551/gateway_id/irrigation","tls":"","persist":false,"proxy":"","authType":"","x":920,"y":640,"wires":[["e3d657e2.0c7278"]]},{"id":"38f85ec1.6742a2","type":"rbe","z":"2233f272.42b94e","name":"Only pass if value changes","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":300,"y":180,"wires":[["345a8f09.f588"]]},{"id":"f968d177.2308c","type":"link out","z":"2233f272.42b94e","name":"Eureka COMPLETE","links":["e1213945.6b4838"],"x":275,"y":300,"wires":[]},{"id":"e1213945.6b4838","type":"link in","z":"ec9dd06f.7c9ed","name":"","links":["f968d177.2308c"],"x":95,"y":220,"wires":[["6a5aa39f.3fd6cc","a229140f.d52a48"]]},{"id":"8f69858f.200468","type":"comment","z":"3a3aa297.300fae","name":"Each property of the object is set an offset. Address is calculated by adding the block address (starting address of the block) to this offset.","info":"","x":540,"y":40,"wires":[]},{"id":"e2598c87.4738","type":"comment","z":"4a907255.7d0e8c","name":"Each property of the object is set an offset. Address is calculated by adding the block address (starting address of the block) to this offset.","info":"","x":520,"y":80,"wires":[]},{"id":"4bde9a4e.916d24","type":"comment","z":"a979388c.c631d8","name":"Each property of the object is set an offset. Address is calculated by adding the block address (starting address of the block) to this offset.","info":"","x":520,"y":40,"wires":[]},{"id":"e3f57a95.007b98","type":"comment","z":"87e58465.865468","name":"Each property of the object is set an offset. Address is calculated by adding the block address (starting address of the block) to this offset.","info":"","x":520,"y":40,"wires":[]},{"id":"e8522c06.842","type":"comment","z":"9fd942ae.b72cf","name":"Occasionally checks Pi's system time against the Internet","info":"","x":270,"y":720,"wires":[]},{"id":"7c6b6711.f49da8","type":"comment","z":"2233f272.42b94e","name":"Regularly reads this alert bit. Add a set of these nodes for each bit to monitor.","info":"","x":390,"y":60,"wires":[]},{"id":"82350503.8710c8","type":"comment","z":"ec9dd06f.7c9ed","name":"Add a link-in for each farm; Add a function object which sets block_addr for each valve in the farm.","info":"","x":390,"y":40,"wires":[]},{"id":"a8b5deff.374f7","type":"comment","z":"d77f754a.8a8638","name":"Click for explanation","info":"- Raise to 1 the “buffer bit” in the PLC, which makes the PLC write the values in the memory to its RTC\n- Raise to 1 the “write bit” in the PLC, which makes the changes to the RTC persistent\n- Lower to 0 the “write bit”\n- Lower to 0 the “buffer bit”, which makes the PLC no longer write values into the RTC\n","x":230,"y":60,"wires":[]}]