flows.json
[{"id":"8d25a9e4.932098","type":"subflow","name":"Timestamp","info":"","category":"","in":[{"x":200,"y":140,"wires":[{"id":"d695f5db.023f98"}]}],"out":[{"x":740,"y":140,"wires":[{"id":"d695f5db.023f98","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"d695f5db.023f98","type":"change","z":"8d25a9e4.932098","name":"Set timestamp to now (ISO format)","rules":[{"t":"set","p":"payload.timestamp","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":140,"wires":[[]]},{"id":"b01aff70.28038","type":"subflow","name":"Round Float","info":"","category":"","in":[{"x":160,"y":160,"wires":[{"id":"b0c72b92.899f58"}]}],"out":[{"x":560,"y":160,"wires":[{"id":"b0c72b92.899f58","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b0c72b92.899f58","type":"function","z":"b01aff70.28038","name":"Round to 3 decimal places","func":"msg.payload = Math.round(msg.payload * 1000) / 1000\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[[]]},{"id":"16b1285a.cad128","type":"subflow","name":"Read REAL Schneider ","info":"Converts the two 16 bit integer values from a Schneider PLC to REAL / Float value","category":"","in":[{"x":260,"y":200,"wires":[{"id":"f527031a.e6c5b"}]}],"out":[{"x":800,"y":200,"wires":[{"id":"a4d1c68e.f80ff8","port":0}]}],"env":[]},{"id":"a4d1c68e.f80ff8","type":"toFloat","z":"16b1285a.cad128","name":"","toFixed":"","x":690,"y":200,"wires":[[]]},{"id":"f527031a.e6c5b","type":"function","z":"16b1285a.cad128","name":"Read REAL From Schneider PLC","func":"msg.payload = (msg.payload[1]<<16) + msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":200,"wires":[["a4d1c68e.f80ff8"]]},{"id":"d8255f13.cf3f2","type":"comment","z":"16b1285a.cad128","name":"Read REAL values over Modbus TCP from Schneider PLC","info":"Read REAL values over Modbus TCP from Schneider PLC","x":550,"y":160,"wires":[]},{"id":"959af5a3.0f24b8","type":"subflow","name":"Read Pump Modbus","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"61f141ba.8cb41"},{"id":"22aed896.21e308"},{"id":"2adef479.e968ec"},{"id":"c918574.8e560a8"},{"id":"649d2118.200a7"},{"id":"3e9e885a.8fdf68"}]}],"out":[{"x":1160,"y":320,"wires":[{"id":"7388fe3c.becf7","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"7388fe3c.becf7","type":"join","z":"959af5a3.0f24b8","name":"Join into an Object (with topics as keys)","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"11","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":900,"y":320,"wires":[[]]},{"id":"61f141ba.8cb41","type":"function","z":"959af5a3.0f24b8","name":"Pass on other properties","func":"msg.payload = {\n    'name': msg.payload.name,\n    'timestamp': msg.payload.timestamp,\n    'valve_type': msg.payload.valve_type,\n    'real_time_flow_unit': msg.payload.real_time_flow_unit,\n    'real_time_pressure_unit': msg.payload.real_time_pressure_unit,\n    'total_flow_unit': msg.payload.total_flow_unit,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":320,"wires":[["77ff1463.173d2c"]]},{"id":"3e9e885a.8fdf68","type":"function","z":"959af5a3.0f24b8","name":"alarm","func":"const offset = 0;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'alarm'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":60,"wires":[["d1c18d1d.8b14f"]]},{"id":"d1c18d1d.8b14f","type":"modbus-flex-getter","z":"959af5a3.0f24b8","name":"","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"158a2db.8be95d2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"x":450,"y":80,"wires":[["788056ae.05b858"],[]]},{"id":"649d2118.200a7","type":"function","z":"959af5a3.0f24b8","name":"status","func":"const offset = 1;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'status'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":100,"wires":[["d1c18d1d.8b14f"]]},{"id":"c918574.8e560a8","type":"function","z":"959af5a3.0f24b8","name":"real_time_flow","func":"const offset = 4;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 2\n}\nmsg.topic = 'real_time_flow'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":180,"wires":[["d1c18d1d.8b14f"]]},{"id":"22aed896.21e308","type":"function","z":"959af5a3.0f24b8","name":"total_flow","func":"const offset = 2;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 1\n}\nmsg.topic = 'total_flow'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":140,"wires":[["d1c18d1d.8b14f"]]},{"id":"788056ae.05b858","type":"switch","z":"959af5a3.0f24b8","name":"Handle floats separately","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"real_time_flow","vt":"str"},{"t":"eq","v":"real_time_pressure","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":160,"wires":[["ae27ee07.f917"],["ae27ee07.f917"],["d574711e.e02fe"]]},{"id":"d574711e.e02fe","type":"function","z":"959af5a3.0f24b8","name":"Read INT Schneider","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":180,"wires":[["7388fe3c.becf7"]]},{"id":"ae27ee07.f917","type":"subflow:16b1285a.cad128","z":"959af5a3.0f24b8","name":"","env":[],"x":760,"y":140,"wires":[["530a1dd1.eb2b64"]]},{"id":"15b2b4de.ac79cb","type":"split","z":"959af5a3.0f24b8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":610,"y":320,"wires":[["7388fe3c.becf7"]]},{"id":"530a1dd1.eb2b64","type":"subflow:b01aff70.28038","z":"959af5a3.0f24b8","name":"","env":[],"x":950,"y":140,"wires":[["7388fe3c.becf7"]]},{"id":"77ff1463.173d2c","type":"subflow:8d25a9e4.932098","z":"959af5a3.0f24b8","name":"","env":[],"x":480,"y":320,"wires":[["15b2b4de.ac79cb"]]},{"id":"2adef479.e968ec","type":"function","z":"959af5a3.0f24b8","name":"real_time_pressure","func":"const offset = 6;\nmsg.payload = {\n    'fc': 3,\n    'address': msg.block_addr + offset,\n    'quantity': 2\n}\nmsg.topic = 'real_time_pressure'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":220,"wires":[["d1c18d1d.8b14f"]]},{"id":"158a2db.8be95d2","type":"modbus-client","name":"M221","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.137.100","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"248","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false}]